{extend name="public/base"}
{block name="menu"}
{/block}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="qc:admins" content="77103107776553571676375" />
<meta property="wb:webmaster" content="c4f857219bfae3cb" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta name="Keywords" content="" />
<meta name="Description" content="超酷的互联网、IT技术免费学习平台，创新的网络一站式学习、实践体验；服务及时贴心，内容专业、有趣易学。专注服务互联网工程师快速成为技术高手！" />
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' *.imooc.com *.mukewang.com *.baidu.com *.sina.com.cn *.bootcss.com">

<title>1-会话控制简介及HTTP浅析-慕课网</title>



<link rel="stylesheet" href="__INDEX_CSS__/layer.css"/>

<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<script type="text/javascript">
  var OP_CONFIG={"module":"course","page":"video","userout":0,"usercaution":null};
  var _msg_unread = 0; 
  var _not_unread = 0; 
  var _cart_num = 0;
  var tplDef={
	"url_space_u":"/space/u",
	"url_space_index":"/space/index",
    "url_space_course":"/space/course",
    "myclub_rule":"/about/faq?t=3",
    "url_course_qadetail":"/qadetail",
    "media_id":"15869"
  }
  var seajsTimestamp="v=201710201038";
  var courseName="PHP中的会话控制";
    var isLogin = 0;
  </script>



<script type="text/javascript">
var pageInfo = { mid : 15869 };
var video_id= 14844;
var course_id = 898;
var chapter_id = 4441;
var ispreview ='0';
var videoTitle = "1-1 1-会话控制简介及HTTP浅析";

OP_CONFIG.page="video2.4";

</script>


<link rel="stylesheet" href="__INDEX_CSS__/play.css" type="text/css" />
</head>
<body >


<div id="header" class="course-detail-header">
  <div class="cd-inner clearfix">
      <ul class="l">
        <li class="nv nv-goback"><a href="/learn/898" class="revert l"><i class="icon icon-left"></i></a></li>
        <li class="nv nv-menu">
          <a href="javascript:;" class="chaptername J-chaptername"  data-id="15869" style="cursor:text;"><span>PHP中的会话控制</span><em>1-1 1-会话控制简介及HTTP浅析...</em></a>
        </li>
        <li class="nv nv-share bdsharebuttonbox" >
          <!-- note:bdshare cannt user inner icon tag-->
            <span>分享</span>
            <a class="bds_weixin" data-cmd="weixin"></a>
            <a class="bds_qzone" data-cmd="qzone" ></a>
            <a class="bds_tsina" data-cmd="tsina"></a>

          <div style="display:none" id="coursePic" ><img src="__INDEX_IMG__/59c3917900011b8106000338-590-330.jpg"></div>
        </li>
        
      </ul>

        <div id="login-area">
            {if $Think.session.user_id}
            <ul class="clearfix logined">
                <li class="shop-cart" id="shop-cart">
                    <a href="http://order.imooc.com/pay/cart" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>
                <li class='remind_warp'>
                    <i class="msg_remind"></i>
                    <a target="_blank" href='http://www.imooc.com/u/3386918/notices'>
                        <i class='imv2-notifications'></i>
                    </a>
                </li>
                <li class="set_btn user-card-box"  id="header-user-card">
                    <a id="header-avator" class="user-card-item" action-type="my_menu"  href="http://www.imooc.com/u/3386918/plans" target="_self">
                        <img src='__INDEX_IMG__/573dc35200014e4101000100-40-40.jpg' width='40' height='40' />
                        <i class="myspace_remind" style="display: none;"></i>
                        <span style="display: none;">动态提醒</span>
                    </a>
                    <!-- 小弹窗 -->
                    <div class="g-user-card">
                        <div class="card-inner">
                            <div class="card-top clearfix">
                                <a href='http://www.imooc.com/u/3386918' class='l'>
                                    <img src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" alt="qq_缄默_83386918">
                                </a>
                                <div class="card-top-right-box l">
                                    <a href='http://www.imooc.com/u/3386918' class="name text-ellipsis">
                                        <span>qq_缄默_83386918</span>
                                    </a>
                                    <div class="meta">
                                        <a href="http://www.imooc.com/u/3386918/experience">经验<b id="js-user-mp">6,129</b></a>
                                        <a href="http://www.imooc.com/u/3386918/credit">积分<b id="js-user-credit">0</b></a>            
                                    </div>
                                </div>
                            </div>
                            <div class="user-center-box">
                                <ul class="clearfix">
                                    <li class="l"><a href="http://www.imooc.com/u/3386918/courses" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
                                    <li class="l">
                                        <a href="http://order.imooc.com/myorder" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
                                        <i id="js-usercard-coupon-icon"></i>
                                    </li>
                                    <li class="l"><a href="http://www.imooc.com/mall/index" target="_blank"><span class="user-center-icon imv2-score_shop"></span>积分商城</a></li>
                                    <li class="l"><a href="http://www.imooc.com/user/setbindsns" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
                                </ul>
                            </div>
                            
                            <div class="card-history">
                            </div>
                            
                            <div class="card-sets clearfix">
                                <a href="/passport/user/logout?referer=http://class.imooc.com" class="l">安全退出</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {else /}
            <ul class="header-unlogin clearfix">
                <li class="shop-cart" id="shop-cart">
                    <a href="http://order.imooc.com/pay/cart" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>             
                <li class="header-signin">
                    <a  id="js-signin-btn" href="{:url('Login/login')}">登录</a> / <a  id="js-signup-btn" href="{:url('Login/register')}">注册</a>
                </li>             
            </ul>
            {/if}
        </div>
        
  </div>
</div>

<div id="studyMain">

 
<div id="bgarea" class="video-con">
    <div class="js-box-wrap">
        <div id="J_Box" class="course-video-box">
            <div id="video-box" class="video-wrap" style="width:100%;height:100%"></div>
            <div class="next-box J_next-box hide">
                <div class="next-box-inner">
                                            <div class="course-tip-layer J-next-course" data-next-src="/video/15851">
                            <h2>下一节课程： Cookie简介
                                <span class="course-duration"> (13:48)</span>
                            </h2>
                            <div class="J-next-auto hide next-auto"><em>3</em> 秒后播放下一节</div>
                            <div class="J-next-btn hide next-auto btn btn-green">下一节</div>
                            <a href="/video/15869/0" class="review-course">重新观看</a>
                            
                            <div id="js-ques-box"></div>                        </div>

                                    </div>
            </div>
        </div>
    </div>
    <!--此处结构为练习题，视频，编程公用的侧栏-->
<div class="section-list">
    <div class="operator">
        <div class="op chapter"><em class="icon-menu"></em>章节</div>
        <div class="op notes"><em class="icon-note"></em>笔记</div>
        <div class="op question"><em class="icon-addques"></em>提问</div>
        <div class="op wiki"><em class="icon-wiki"></em>WIKI</div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <h3>PHP中的会话控制</h3>
                        <ul>
                <li class="sec-title">
                    <span>第1章 HTTP协议简介及原理</span>
                </li>
                                                        <li data-id="15869">
                                                <a href="/video/15869"><em class="icon-video"></em>1-1 1-会话控制简介及HTTP浅析...(16:33)</a>                        
                                            </li>
                                                </ul>
                        <ul>
                <li class="sec-title">
                    <span>第2章 COOKIE的使用</span>
                </li>
                                                        <li data-id="15851">
                                                <a href="/video/15851"><em class="icon-video"></em>2-1 Cookie简介(13:48)</a>                        
                                            </li>
                                                                            <li data-id="15852">
                                                <a href="/video/15852"><em class="icon-video"></em>2-2 Cookie操作(14:25)</a>                        
                                            </li>
                                                                            <li data-id="15853">
                                                <a href="/video/15853"><em class="icon-video"></em>2-3 cookie其它常用参数解析...(04:41)</a>                        
                                            </li>
                                                                            <li data-id="15913">
                                                <a href="/video/15913"><em class="icon-video"></em>2-4 setrawcookie的使用(01:00)</a>                        
                                            </li>
                                                                            <li data-id="15855">
                                                <a href="/video/15855"><em class="icon-video"></em>2-5 更新和删除Cookie的操作...(05:57)</a>                        
                                            </li>
                                                                            <li data-id="15856">
                                                <a href="/video/15856"><em class="icon-video"></em>2-6 通过header函数设置Cookie...(11:23)</a>                        
                                            </li>
                                                                            <li data-id="15857">
                                                <a href="/video/15857"><em class="icon-video"></em>2-7 Cookie保存数组形式的数据...(02:00)</a>                        
                                            </li>
                                                                            <li data-id="15858">
                                                <a href="/video/15858"><em class="icon-video"></em>2-8 通过JS操作Cookie的实现...(10:51)</a>                        
                                            </li>
                                                                            <li data-id="15859">
                                                <a href="/video/15859"><em class="icon-video"></em>2-9 Cookie实战之自动登陆效果...(26:17)</a>                        
                                            </li>
                                                                            <li data-id="15860">
                                                <a href="/video/15860"><em class="icon-video"></em>2-10 Cookie操作类的封装(23:45)</a>                        
                                            </li>
                                                                            <li data-id="15861">
                                                <a href="/video/15861"><em class="icon-video"></em>2-11 localStorage的基本使用...(14:37)</a>                        
                                            </li>
                                                                            <li data-id="15862">
                                                <a href="/video/15862"><em class="icon-video"></em>2-12 扩展localStorage(10:12)</a>                        
                                            </li>
                                                </ul>
                        <ul>
                <li class="sec-title">
                    <span>第3章 SESSION的使用</span>
                </li>
                                                        <li data-id="15863">
                                                <a href="/video/15863"><em class="icon-video"></em>3-1 session简介及工作原理...(26:40)</a>                        
                                            </li>
                                                                            <li data-id="15864">
                                                <a href="/video/15864"><em class="icon-video"></em>3-2 传递session_id(12:41)</a>                        
                                            </li>
                                                                            <li data-id="15865">
                                                <a href="/video/15865"><em class="icon-video"></em>3-3 销毁会话(06:19)</a>                        
                                            </li>
                                                                            <li data-id="15866">
                                                <a href="/video/15866"><em class="icon-video"></em>3-4 session实战演示(22:41)</a>                        
                                            </li>
                                                                            <li data-id="15867">
                                                <a href="/video/15867"><em class="icon-video"></em>3-5 自定义会话管理器(26:28)</a>                        
                                            </li>
                                                </ul>
            
        </div>
    </div>
</div></div>

<div class="maybe-wenda" id="maybe-wenda" style="display: none;">
    <i class="icon-chat"></i>
    <p class="text">你发的评论可能会是问题？<br/>是否将他发到问答中</p>
    <input class="btn ok" type="button" value="好的" id="wenda-ok">
    <input class="btn no" type="button" value="不用" id="wenda-no">
</div>
</div>

<div class="course-subcontainer clearfix">
  <div class="course-left">
      <ul class="course-menu course-video-menu clearfix js-course-menu" data-ower="all" data-sort="last">
    <li class="course-menu-item"><a class="active" href="javascript:void(0)" id="plMenu">评论</a></li>
    <li class="course-menu-item"><a href="javascript:void(0)" id="qaMenu">问答</a></li>
    <li class="course-menu-item"><a href="javascript:void(0)" id="noteMenu">笔记</a></li>
    <!--
    <li class="course-menu-item"><a href="javascript:void(0)" id="wikiMenu">WIKI</a></li>
    -->
        </ul>
<div id="disArea" class="lists-container list-wrap">
    <div id="pl-content" class="list-tab-con">
        <div class="publish clearfix" id="discus-publish">
            <div class="publish-wrap publish-wrap-pl">
                <div class="pl-input-wrap clearfix">
                    <a href="" class="user-head l">
                        <img src="__INDEX_IMG__/avatar_default.png" >
                    </a>
                    <div id="js-pl-input-fake" class="pl-input-inner l">
                       <textarea  id="js-pl-textarea" class="js-placeholder" placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！" ></textarea>
                       <span  class="num-limit"><span id="js-pl-limit">0</span>/300</span>
                    </div>
                    <div class="pl-input-btm input-btm clearfix">
                        <div class="verify-code l"></div>
                        <input type="button"  id="js-pl-submit" class="r course-btn" value="发表评论" />
                    </div>
                </div>

            </div>
        </div>
        <div id="plLoadListData"></div>
    </div>
    <div id="qa-content" class="list-tab-con" style="display:none">
        <div id="qaLoadListData"></div>
    </div>
    <div id="note-content" class="list-tab-con" style="display:none">
        <div id="noteLoadListData">
        </div>
    </div>
    <div id="wiki-content" class="list-tab-con" style="display:none;">
        <div id="wikiLoadListData">
        </div>
    </div>
    <div id="mate-content" class="list-tab-con" style="display:none;">
        <div id="mateLoadListData">
        </div>
    </div>

</div>
  </div>
  <div class="course-right clearfix">
       
  <div class="js-recom-box">
</div>
  <div class="wendalist js-right-wenda">
    <div class="course-right-title">
        <h3>猿问推荐</h3>
        <a href="/wenda/?block_id=tuijian_yw" target="_blank" class="more">更多</a> 
    </div>

      <ul>
      </ul>
  </div>
  <div class="articlelist js-right-article">
    <div class="course-right-title">
        <h3>手记推荐</h3>
        <a href="/article/?block_id=tuijian_wz" target="_blank" class="more">更多</a> 
    </div>
    <div class="course-right-content">
      
    </div>
    <ul>

    </ul>
  </div>  </div>
</div>






<script type="text/javascript" charset="utf-8" src="__INDEX_JS__/ueditor.final.min.js"></script>

<script src="__INDEX_JS__/ssologin.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea_config.js"></script>
<script type="text/javascript">seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);</script>



<div style="display: none">
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff0cfcccd7b1393990c78efdeebff3968' type='text/javascript'%3E%3C/script%3E"));
  </script>
</div>
<!--笔记弹出框-->

<script type="text/imooc-tpl" id="course-note-tpl">
   <div class="note-pop">
        <div id="js-note-input-fake" class="textarea-wrap">
            <textarea data-maxlength="1000" id="js-note-textarea" class="js-placeholder" name="" placeholder="请输入笔记内容..."></textarea>
            <p class="note-text-counter"><span id="js-note-limit">0</span>/1000</p>
        </div>
        <div class="publish-note-btns input-btm clearfix">
            <div class="verify-code clearfix"></div>
                                            <div title="截图"  class="js-shot-video screen-btn" data-type="note">
                    <span>截图</span>
                </div>
                                        <input type="button" title="发表" value="保存" id="js-note-submit" class="moco-btn moco-btn-green r" />
            <!-- <label for="js-isshare"  class="label-checked r"><input type="checkbox" checked="checked" id="js-isshare" class="checked" /> 公开</label> -->
        </div>
</div>
</script>
<!--问答弹出框 通用-->
<script type="text/imooc-tpl" id="course-qa-tpl">

    <div class="qa-pop">

            <div class="question-area">
                <div class="qa-control qa-ipt-title">
                    <input type="text" id="js-qa-title" maxlength="255" class="js-placeholder autocomplete" placeholder="请输入问题标题" />
                </div>
                <a href="http://www.imooc.com/wenda/detail/292353" target="_blank" class="another-meth">如何更好<br />的提问？</a>
                <dl class="send-area-result">
                </dl>
            </div>

        <div class="qa-control-wrap clearfix">
            <div class="qa-control">
                <div class="rich-text-editor">
                    <textarea id="discuss-editor" >请输入讨论内容...</textarea>
                </div>
            </div>
        </div>
        <div id="js-discuss-btm" class="discuss-bottom input-btm clearfix pop-footer">
            <div class="verify-code clearfix"></div>
                                            <div title="截图"  class="js-shot-video screen-btn" data-type="qa">
                    <span>截图</span>
                </div>
                                        <input id="js-discuss-submit" class="r moco-btn moco-btn-green" type="button" value="发布" />
        </div>
        <div id="use-credit-tip" class="use-credit-tip">
            <span class="credit-info">本次提问将花费2个积分</span>
            <a class="credit-rule" href="/about/faq?t=3" target="_blank">为什么扣积分？</a>
        </div>
    </div>

</script>
<!--积分弹出框-->
<div class="integral-pop" id="no-credit">
    <div class="pop-con">
        <span class="icon-point"></span>
                    <p>本次提问将花费2个积分</p>
                <p>你的积分不足，无法发表</p>
        <a class="integral-rule" href="/about/faq?t=3" target="_blank">为什么扣积分？</a>
        <div class="ft clearfix">
            <a href="javascript:void(0)" class="btn btn-green l cancel-cf">确认</a>
            <a href="javascript:void(0)" class="btn btn-grey r cancel-cf">取消</a>
        </div>
    </div>
</div>
<div class="integral-pop" id="enough-credit">
    <div class="pop-con">
        <span class="icon-point"></span>
                    <p>本次提问将花费2个积分</p>
                <p>继续发表请点击 "确定"</p>
        <a class="integral-rule" href="/about/faq?t=3" target="_blank">为什么扣积分？</a>
        <div class="ft clearfix">
            <a id="interal-use" href="javascript:void(0)" class="btn btn-green l">确认</a>
            <a id="interal-cancel" href="javascript:void(0)" class="btn btn-grey r">取消</a>
        </div>
    </div>
</div>

<!--WIKI弹出框 通用-->
<script type="text/imooc-tpl" id="course-wiki-tpl">
    <div class="wiki-pop">

        <div class='search_box clearfix'>
            <input class='search_ipt' type='text' placeholder='输入你想要找的WiKi词条名称' />
            <input type='button' value='搜索' class='search_btn' />
            <a class='createwiki' href='/wiki/create' target="_blank">创建wiki</a>
        </div>
        
        <div id='js-search-area-result' class='search-area-result'>
        </div>
    </div>

</script>

<div id="video_mark" class="video_mark" style="display:none;"></div>
<!--<div class="fixed-video js-fixed-video">-->
    <!--<h3>点击按住该条进行拖动</h3>-->
    <!--<div class="fixed-video-con"></div>-->
<!--</div>-->
<!--
//此处结构在js里插入
<div class="animate-mp" style="left:50%;top:50%">-->
    <!--<p class="mp"><i>+</i><span class="num">8</span>MP</p>-->
    <!--<p class="desc">haha</p>-->
<!--</div>-->
</body>
</html>
{/block}
{block name="footer"}
{__block__}
{/block}
