{extend name="public/course" /}
{block name="content"}      
<div class="content">
    <div class="mod-tab-menu ">
    	<ul class="course-menu clearfix">
    		<li><a id="commentOn" class="" href="{:url('course/courseComment',['course_id'=>$courseInfo.course_id])}"><span>评论</span></a></li>
    		<li><a id="noteOn" class="active" href=""><span>笔记</span></a></li>
    	</ul>
    </div>
    <div id="course_note">
      <div class="course-tool-bar clearfix">
            <div class="tool-left l">
              <a href="/note/895?sort=last&page=1" class="sort-item active">最新</a>
              <a href="/note/895?sort=hot&page=1" class="sort-item ">点赞</a>
            </div>
            <div class="tool-right r"></div>
      </div>
      <ul id="js-note-container" class="mod-post">

      </ul>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var num = 0;
        createLi();
        function createLi()
        {
            $.get("{:url('getNoteInfo')}",
              {course_id:{$courseInfo.course_id},limit:num},
              function(data) {
                  //data = JSON.parse(data);
                  if (data) {
                    $('#lastData').remove();
                    $('#js-note-container').append(data);
                  }
                  
              },'json');
            num = num + 5;
        }

        $(window).scroll(function() {
           if ($(window).scrollTop() + $(window).height() >= $('body').height()) {
               createLi();
           }
        });

        $(document).on('click', '.upvote', function() {
              var obj = $(this);
                if ({$sessionUid} == 1 ) {
                  $.post("{:url('setUpvote')}",
                  {
                    note_id:obj.attr('noteId'),
                  },
                  function(data) {
                    data = JSON.parse(data);
                    var num = parseInt(obj.children('em').text());
                    if (data.code == 200) {
                        obj.children('em').text(num+1);
                    } else {
                        obj.children('em').text(num-1);
                    }
                  },'json'); 
                } else{
                  window.location.href = "{:url('Login/login')}";
                }              
          });                            
    });
</script>
{/block}