{extend name="public/course" /}
{block name="content"}
<div class="content">
            <div class="mod-tab-menu ">
            <ul class="course-menu clearfix">
                <li><a id="commentOn" class="active" href=""><span>评论</span></a></li>
                <li><a id="noteOn" class="" href="{:url('course/courseNote',['course_id'=>$courseInfo.course_id])}"><span>笔记</span></a></li>
            </ul>
            </div><!-- 课程面板 -->
            <!--发布评论-->
            <div id="course_note">
                <ul class="mod-post" id="comment-list">
                    <li class="post-row" id="504525">
                    <div class="media">
                        <a href="/u/5886923/courses" target="_blank"><img src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" width="40" height="40"></a>
                    </div>
                    <div class="bd">
                        <div class="tit">
                            <a href="/u/5886923/courses" target="_blank">花儿儿</a>
                        </div>
                        <p class="cnt">讲的解决方法很实用，非常喜欢多一些这样的大牛，给我们这些小白多讲讲</p>
                        <div class="footer clearfix">
                            <span title="创建时间" class="l timeago">时间：2017-10-16</span>
                            <a href="/video/15946" class="from">源自：1-1 披萨的故事-Microservice &amp; Severless（上）</a>
                            <div class="actions r">
                                <a title="赞" href="javascript:;" class="js-pl-praise list-praise post-action"  data-id="504525">
                                <span class="icon-thumb-revert"></span>
                                <em>0</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
</div>

{/block}
