{extend name="public/base"}
{block name="menu"}
{/block}
{block name="main"}


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="qc:admins" content="77103107776553571676375" />
<meta property="wb:webmaster" content="c4f857219bfae3cb" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta name="Keywords" content="" />
<meta name="Description" content="超酷的互联网、IT技术免费学习平台，创新的网络一站式学习、实践体验；服务及时贴心，内容专业、有趣易学。专注服务互联网工程师快速成为技术高手！" />
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' *.imooc.com *.mukewang.com *.baidu.com *.sina.com.cn *.bootcss.com">
<title>1-会话控制简介及HTTP浅析-慕课网</title>
<link rel="stylesheet" href="__INDEX_CSS__/layer.css"/>
<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/play.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.comment.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.note.css" type="text/css" />
<style type="text/css">
    .list-tab-con{
        display:none;
    }
    .active{
        display: block;
    }

</style>

<link href="__VIDEO_CSS__/scojs.css" rel="stylesheet">
<link href="__VIDEO_CSS__/colpick.css" rel="stylesheet">
<link href="__VIDEO_CSS__/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="__VIDEO_CSS__/main.css">

<script src="__VIDEO_JS__/jquery-2.1.4.min.js"></script>
<script src="__VIDEO_JS__/jquery.shCircleLoader.js"></script>
<script src="__VIDEO_JS__/sco.tooltip.js"></script>
<script src="__VIDEO_JS__/colpick.js"></script>
<script src="__VIDEO_JS__/jquery.danmu.js"></script>
<script src="__VIDEO_JS__/danmu_main.js"></script>



</head>
<body >


<div id="header" class="course-detail-header">
  <div class="cd-inner clearfix">
      <ul class="l">
        <li class="nv nv-goback"><a href="/learn/898" class="revert l"><i class="icon icon-left"></i></a></li>
        <li class="nv nv-menu">
          <a href="javascript:;" class="chaptername J-chaptername"  data-id="15869" style="cursor:text;"><span>{$courseInfo['course_title']}</span></a>
        </li>
        <li class="nv nv-share bdsharebuttonbox" >
          <!-- note:bdshare cannt user inner icon tag-->
            <span>分享</span>
            <a class="bds_weixin" data-cmd="weixin"></a>
            <a class="bds_qzone" data-cmd="qzone" ></a>
            <a class="bds_tsina" data-cmd="tsina"></a>

          <div style="display:none" id="coursePic" ><img src=""></div>
        </li>
        
      </ul>

        <div id="login-area">
            {if $Think.session.user_id}
            <ul class="clearfix logined">
                <li class="shop-cart" id="shop-cart">
                    <a href="http://order.imooc.com/pay/cart" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>
                <li class='remind_warp'>
                    <i class="msg_remind"></i>
                    <a target="_blank" href='http://www.imooc.com/u/3386918/notices'>
                        <i class='imv2-notifications'></i>
                    </a>
                </li>
                <li class="set_btn user-card-box"  id="header-user-card">
                    <a id="header-avator" class="user-card-item" action-type="my_menu"  href="http://www.imooc.com/u/3386918/plans" target="_self">
                        <img src='__INDEX_IMG__/573dc35200014e4101000100-40-40.jpg' width='40' height='40' />
                        <i class="myspace_remind" style="display: none;"></i>
                        <span style="display: none;">动态提醒</span>
                    </a>
                    <!-- 小弹窗 -->
                    <div class="g-user-card">
                        <div class="card-inner">
                            <div class="card-top clearfix">
                                <a href='http://www.imooc.com/u/3386918' class='l'>
                                    <img src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" alt="qq_缄默_83386918">
                                </a>
                                <div class="card-top-right-box l">
                                    <a href='http://www.imooc.com/u/3386918' class="name text-ellipsis">
                                        <span>qq_缄默_83386918</span>
                                    </a>
                                    <div class="meta">
                                        <a href="http://www.imooc.com/u/3386918/experience">经验<b id="js-user-mp">6,129</b></a>
                                        <a href="http://www.imooc.com/u/3386918/credit">积分<b id="js-user-credit">0</b></a>            
                                    </div>
                                </div>
                            </div>
                            <div class="user-center-box">
                                <ul class="clearfix">
                                    <li class="l"><a href="http://www.imooc.com/u/3386918/courses" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
                                    <li class="l">
                                        <a href="http://order.imooc.com/myorder" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
                                        <i id="js-usercard-coupon-icon"></i>
                                    </li>
                                    <li class="l"><a href="http://www.imooc.com/mall/index" target="_blank"><span class="user-center-icon imv2-score_shop"></span>积分商城</a></li>
                                    <li class="l"><a href="http://www.imooc.com/user/setbindsns" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
                                </ul>
                            </div>
                            
                            <div class="card-history">
                            </div>
                            
                            <div class="card-sets clearfix">
                                <a href="/passport/user/logout?referer=http://class.imooc.com" class="l">安全退出</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {else /}
            <ul class="header-unlogin clearfix">
                <li class="shop-cart" id="shop-cart">
                    <a href="http://order.imooc.com/pay/cart" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>             
                <li class="header-signin">
                    <a  id="js-signin-btn" href="{:url('Login/login')}">登录</a> / <a  id="js-signup-btn" href="{:url('Login/register')}">注册</a>
                </li>             
            </ul>
            {/if}
        </div>
        
  </div>
</div>
<!--播放器-->

<div id="danmup">
</div>
<div style="display: none">
      <span class="glyphicon" aria-hidden="true">&#xe072</span>
      <span class="glyphicon" aria-hidden="true">&#xe073</span>
      <span class="glyphicon" aria-hidden="true">&#xe242</span>
      <span class="glyphicon" aria-hidden="true">&#xe115</span>
      <span class="glyphicon" aria-hidden="true">&#xe111</span>
      <span class="glyphicon" aria-hidden="true">&#xe096</span>
      <span class="glyphicon" aria-hidden="true">&#xe097</span>
</div>

       
<!--播放器end-->
<div class="course-subcontainer clearfix" style="position: relative;top:30px;">
    <div class="course-left">
        <ul class="course-menu course-video-menu clearfix js-course-menu" data-ower="all" data-sort="last">
            <li class="course-menu-item">
                <a class="active" href="javascript:void(0)" id="plMenu">评论</a>
            </li>
            <li class="course-menu-item">
                <a href="javascript:void(0)" id="noteMenu">笔记</a>
            </li>
        </ul>
        <div id="disArea" class="lists-container list-wrap">
            <!--评论-->
            <div id="video_comment" class="list-tab-con active">
                <div class="publish clearfix" id="discus-publish">
                    <div class="publish-wrap publish-wrap-pl">
                        <div class="pl-input-wrap clearfix">
                            <a href="" class="user-head l">
                                <img src="__INDEX_IMG__/avatar_default.png" >
                            </a>
                            <div id="js-pl-input-fake" class="pl-input-inner l">
                               <textarea  id="js-pl-textarea" class="js-placeholder" placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！" ></textarea>
                               <span  class="num-limit"><span id="js-pl-limit">0</span>/300</span>
                            </div>
                            <div class="pl-input-btm input-btm clearfix">
                                <div class="verify-code l"></div>
                                <input type="button"  id="js-pl-submit" class="r course-btn" value="发表评论" />
                            </div>
                        </div>

                    </div>
                </div>
                
                <div id="plLoadListData" >
                    <div class="pl-container"> 
                        <ul>   
                            <li class="pl-list clearfix"> 
                                <div class="pl-list-avator"> 
                                    <a href="/u/3164558/courses" target="_blank">
                                        <img width="40" height="40" src="//img4.mukewang.com/580aeb710001b73106400640-40-40.jpg" title="西兰花伟大炮">
                                    </a> 
                                </div> 
                                <div class="pl-list-main"> 
                                    <div class="pl-list-nick"> 
                                        <a href="/u/3164558/courses" target="_blank">西兰花伟大炮
                                        </a> 
                                    </div> 
                                    <div class="pl-list-content">火前刘明，大家加油</div>  
                                    <div class="pl-list-btm clearfix"> 
                                        <span class="pl-list-time l">时间: 2017-10-17</span>  
                                        <a title="赞" href="javascript:;" class="js-pl-praise list-praise r" data-id="505072">
                                            <i class="icon-thumb-revert"></i>  
                                            <span>2</span>
                                        </a> 
                                    </div> 
                                </div> 
                            </li>  
                        </ul>
                    </div>
                    <div class="page pl-list-page"></div>
                </div>     
            </div>
            <!--评论end-->
            <!--笔记-->
            <div id="video_note" class="list-tab-con">
                <div class="course-tool-bar clearfix">
                        <div class="tool-left l">
                          <a href="/note/895?sort=last&page=1" class="sort-item active">最新</a>
                          <a href="/note/895?sort=hot&page=1" class="sort-item ">点赞</a>
                        </div>
                        <div class="tool-right r"></div>
                </div>
                <ul id="js-note-container" class="mod-post">

                </ul>
            </div>
            <!--笔记end-->
        </div>
    </div>
</div>

<div id="video_mark" class="video_mark" style="display:none;"></div>
<div class="moco-modal-layer fixed" style="z-index: 904; visibility: hidden; left: 313px; top: 203px; opacity: 1;">                    
    <div class="moco-modal-title">
        <div class="moco-modal-draggable"><span>笔记</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close" id="close_note"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog " style="display: block;">
            <div class="note-pop">
                <div id="js-note-input-fake" class="textarea-wrap">
                    <textarea data-maxlength="1000" id="js-note-textarea" class="js-placeholder" name="" placeholder="请输入笔记内容..."></textarea>
                    <p class="note-text-counter"><span id="js-note-limit">0</span>/1000</p>
                </div>
                <div class="publish-note-btns input-btm clearfix">
                    <div class="verify-code clearfix"></div>
                        <input type="button" title="发表" value="保存" id="js-note-submit" class="moco-btn moco-btn-green r">
                </div>
            </div>
        </div>
    </div>            
</div>
<script>
      var video_id = $('#video_id').val();
      $("#danmup").DanmuPlayer({
        src:"http://devtest.qiniudn.com/1.mp4",
        height: "380px", //区域的高度
        width: "100%", //区域的宽度
        urlToGetDanmu:'/index/video/getdanmu/video_id/' + video_id,
        urlToPostDanmu:'/index/video/cunchudanmu/video_id/' + video_id,
      });
    /*  $("#danmup .danmu-div").danmu("addDanmu",[
        { "text":"这是滚动弹幕" ,color:"white",size:1,position:0,time:2}
        ,{ "text":"哈哈哈啊哈" ,color:"black",size:1,position:0,time:10}
        ,{ "text":"这是顶部弹幕" ,color:"yellow" ,size:1,position:1,time:3}
        ,{ "text":"这是底部弹幕" , color:"red" ,size:1,position:2,time:9}
      ])*/
</script>
</body>
</html>
<script type="text/javascript" src="__INDEX_JS__/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.notes').click(function(){
            $('.moco-modal-layer').css('visibility',"visible");
        });
        $('#close_note').click(function() {
            $('.moco-modal-layer').css('visibility',"hidden");
        });
        $('.course-menu-item').each(function(i,obj) {
            $(this).click(function(){
                $(this).children('a').addClass('active');
                $(this).siblings().children('a').removeClass('active');
                $('.list-tab-con').eq(i).addClass('active');
                $('.list-tab-con').eq(i).siblings().removeClass('active');
                var divId = $('.list-tab-con').eq(i).attr('id');
                funcName(divId);
            }); 
        });

        $('#js-note-submit').click(function() {
            $.post("{:url('addNote')}",
                {
                    course_id:{$courseInfo['course_id']},
                    note_content:$('#js-note-textarea').val(),
                },
                function(data){
                    console.log(data);
                    if ( $('#noteMenu').hasClass('active')) {
                        $('#js-note-container').prepend(data);
                    }
                },'json');
            $('.moco-modal-layer').css('visibility',"hidden");
        });



        function funcName(divId)
        {
            if (divId == 'video_comment') {
                videoComment();
            }else if(divId == 'video_note'){
                videoNote();
            }
        }
        function videoComment()
        {
            console.log(11111111);
        }
        function videoNote()
        {
            var num = 0;
            createLi();
            function createLi()
            {
                $.get("{:url('getNoteInfo')}",
                  {course_id:{$courseInfo.course_id},limit:num},
                  function(data) {
                      //data = JSON.parse(data);
                      if (data) {
                        $('#lastData').remove();
                        $('#js-note-container').append(data);
                      }
                      
                  },'json');
                num = num + 5;
            }
            $(window).scroll(function() {
               if ($(window).scrollTop() + $(window).height() >= $('body').height()) {
                   createLi();
               }
            });
            $(document).on('click', '.upvote', function() {
              var obj = $(this);
              $.post("{:url('setUpvote')}",
                {
                  note_id:obj.attr('noteId'),
                },
                function(data) {
                  data = JSON.parse(data);
                  var num = parseInt(obj.children('em').text());
                  if (data.code == 200) {
                      obj.children('em').text(num+1);
                  } else {
                      obj.children('em').text(num-1);
                  }
              },'json');
              
        });   
        }

    });
</script>
{/block}
{block name="footer"}
{__block__}
{/block}
