
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PHP中的会话控制</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit" />
<meta name="Keywords" content="" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.css" type="text/css" />
</head>
<body >
<div id="main">
<div class="course-infos">
    <div class="w pr">
        <div class="path">  
            <a href="/course/list">课程</a>
                        <i class="path-split">\</i><a href="/course/list?c=be">后端开发</a>
                                    <i class="path-split">\</i><a href="/course/list?c=php">PHP</a>
                        <i class="path-split">\</i><a href="/learn/898"><span>PHP中的会话控制</a></span>
        </div>
        <div class="hd clearfix">
            <h2 class="l">{$courseInfo.course_title}</h2>
                    </div>

        <div class="statics clearfix">
            <div class="moco-btn l learn-btn green-btn red-btn"> 
                <a href="{:url('courseVideo',['course_id'=>$courseInfo.course_id])}" class="J-learn-course">开始学习</a>
                <em></em>
                <i class="follow-action js-follow-action"></i>
            </div>
            <div class="static-item l">
                <span class="meta">学习人数</span>
                <span class="meta-value js-learn-num">{$courseInfo.courseCount.course_sales}</span>
            </div>
            <div class="static-item l">
                <span class="meta">难度级别</span>
                <span class="meta-value">{$courseInfo.course_grade}</span>
                <em></em>
            </div>
            <div class="static-item l">
                <span class="meta">课程时长</span>
                <span class="meta-value">{$courseInfo.course_duration}小时</span>
                <em></em>
            </div>
            <div class="static-item l score-btn">
                <span class="meta">综合评分</span>
                <span class="meta-value">{$courseInfo.course_start*2}</span>
                <em></em>
                
                                
                <div class="score-wrap icon-drop_up triangle">
                    <div class="score-box">
                        <a href="/coursescore/898" class="person-num">
                            <span class="person-num l">0人评价</span>
                        </a>
                        <a href="/coursescore/898?page=1" class="evaluation-btn r">查看评价</a>
                        <div class="score-detail-box">
                            <div class="score-static-item">
                                <span class="meta-value">10.0</span>
                                <span class="meta">内容实用</span>
                            </div>
                            <div class="score-static-item">
                                <span class="meta-value">10.0</span>
                                <span class="meta">简洁易懂</span>
                                <em></em>
                            </div>
                            <div class="score-static-item">
                                <span class="meta-value">10.0</span>
                                <span class="meta">逻辑清晰</span>
                                <em></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="extra">
            <!-- credit -->
            
            <!-- share -->
            <div class="share-action r bdsharebuttonbox">
                <a href="javascript:;" class="share wx js-share icon-share-weichat" data-cmd="weixin"></a>
                <a href="javascript:;" class="share qq js-share icon-share-qq" data-cmd="qzone"></a>
                <a href="javascript:;" class="share sina js-share icon-share-weibo" data-cmd="tsina"></a>
            </div>
        </div>
    </div>
    <div class="info-bg" id="js-info-bg">
        <div class="cover-img-wrap">
        <img data-src="__INDEX_IMG__/59c39179000115f106000338.jpg" alt="" style="display: none" id="js-cover-img">
        </div>
        <div class="cover-mask"></div>
    </div>
    
        
</div>


<div class="course-info-main clearfix w">
    <div class="content-wrap">
        <!--content-->
        <div class="content">
            <!-- 课程简介 -->
            <div class="course-brief">
                <p class="auto-wrap">{$courseInfo.course_describe}</p>
            </div>
            <!-- 课程简介 end -->
            <div class="mod-tab-menu ">
            <ul class="course-menu clearfix">
                <li><a class="ui-tabs-active active" id="learnOn"  href="/learn/898"><span>章节</span></a></li>
                <li><a id="commentOn" class="" href="/comment/898"><span>评论</span></a></li>
                <li><a id="qaOn" class="" href="/qa/898/t/1?page=1"><span>问答</span></a></li>
                <li><a id="noteOn" class="" href="/note/898?sort=last&page=1"><span>笔记</span></a></li>
                <!--
                <li><a id="wikiOn" class="" href="/wiki/898">WIKI</a></li>
                -->
            </ul>

            </div>
            <!-- 课程面板 -->
            <!-- 课程章节 -->
            <div class="mod-chapters">
                <div class="chapter ">
                    <!-- 章节标题 -->
                    <h3>
                        
                        <span class="icon-drop_down js-close"></span>
                        <strong>
                            <i class="icon-chapter"></i>
                            第1章 HTTP协议简介及原理
                            <div class="icon-info chapter-info">
                                <i class="icon-drop_up triangle">
                                    <div class="chapter-introubox">
                                        <div class="chapter-content">本章介绍HTTP协议的工作原理及什么是会话控制技术。</div>
                                    </div>
                                </i>
                            </div>
                        </strong>
                        
                    </h3>
                    <!-- 章节标题 end -->
                    <!-- 章节小节 -->
                    <ul class="video">
                        <li data-media-id="15869">
                            <a href='/video/15869' class="J-media-item">
                                <i class="icon-video type"></i>
                                1-1 1-会话控制简介及HTTP浅析 
                                                                        (16:33)
                                                                    
                                <button class="r moco-btn moco-btn-red preview-btn">开始学习</button>
                                                                    
                            </a>
                                                    <!-- 未登录时 -->
                        <!-- <a target="_blank" href="/video/1430" class="J-media-item studyvideo">1-1 Java简介 (05:49)
                            <button class="r moco-btn moco-btn-blue preview-btn">预览</button>
                        </a> -->
                        </li>
                    </ul>
                                    <!-- 章节小节 end -->
                </div>
                <div class="chapter ">
                <!-- 章节标题 -->
                <h3>
                    
                    <span class="icon-drop_down js-close"></span>
                    <strong>
                        <i class="icon-chapter"></i>
                        第2章 COOKIE的使用
                        <div class="icon-info chapter-info">
                            <i class="icon-drop_up triangle">
                                <div class="chapter-introubox">
                                    <div class="chapter-content">本章主要介绍通过COOKIE实现会话控制，及COOKIE常用操作。</div>
                                </div>
                            </i>
                        </div>
                    </strong>
                    
                </h3>
                <!-- 章节标题 end -->
                <!-- 章节小节 -->
                    <ul class="video">
                        <li data-media-id="15851">
                            <a href='/video/15851' class="J-media-item">
                                <i class="icon-video type"></i>
                                2-1 Cookie简介 
                                                                        (13:48)
                                                                    
                            <button class="r moco-btn moco-btn-red preview-btn">开始学习</button>
                                                                    
                            </a>
                                                    <!-- 未登录时 -->
                        <!-- <a target="_blank" href="/video/1430" class="J-media-item studyvideo">1-1 Java简介 (05:49)
                            <button class="r moco-btn moco-btn-blue preview-btn">预览</button>
                        </a> -->
                        </li>
                        <li data-media-id="15852">
                                <a href='/video/15852' class="J-media-item">
                                <i class="icon-video type"></i>
                                2-2 Cookie操作 
                                                                        (14:25)
                                                                    
                                <button class="r moco-btn moco-btn-red preview-btn">开始学习</button>
                                                                    
                                </a>
                                                    <!-- 未登录时 -->
                        <!-- <a target="_blank" href="/video/1430" class="J-media-item studyvideo">1-1 Java简介 (05:49)
                            <button class="r moco-btn moco-btn-blue preview-btn">预览</button>
                        </a> -->
                        </li>
                        <li data-media-id="15853">
                                <a href='/video/15853' class="J-media-item">
                                <i class="icon-video type"></i>
                                2-3 cookie其它常用参数解析 
                                                                        (04:41)
                                                                    
                                <button class="r moco-btn moco-btn-red preview-btn">开始学习</button>
                                                                    
                            </a>
                                                    <!-- 未登录时 -->
                        <!-- <a target="_blank" href="/video/1430" class="J-media-item studyvideo">1-1 Java简介 (05:49)
                            <button class="r moco-btn moco-btn-blue preview-btn">预览</button>
                        </a> -->
                        </li>
                        <li data-media-id="15913">
                            <a href='/video/15913' class="J-media-item">
                                <i class="icon-video type"></i>
                                2-4 setrawcookie的使用 
                                                                        (01:00)
                                                                    
                                <button class="r moco-btn moco-btn-red preview-btn">开始学习</button>
                                                                    
                            </a>
                                                    <!-- 未登录时 -->
                        <!-- <a target="_blank" href="/video/1430" class="J-media-item studyvideo">1-1 Java简介 (05:49)
                            <button class="r moco-btn moco-btn-blue preview-btn">预览</button>
                        </a> -->
                        </li>
                    </ul>
                                    <!-- 章节小节 end -->
                </div>
            </div>
            <!-- 课程章节 end -->
        </div>
        <!--content end-->

        <!--右侧block-->
        <div class="aside r">
            <div class="bd">
                <!-- 讲师须知 -->
                <div class="box mb40 js-usercard-box">
                <h4>讲师提示</h4>
                    <div class="teacher-info">
                    <a href="/u/112353/courses?sort=publish" target="_blank" >
                        <img data-userid="112353" class="js-usercard-dialog" src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" width="80" height="80">
                    </a>
                    <span class="tit">
                        <a href="/u/112353/courses?sort=publish" target="_blank">{$courseInfo.course_teacher}</a><i class="icon-imooc"></i>
                    </span>
                    <span class="job">PHP开发工程师</span>
                    </div>
                    <div class="course-info-tip">
                        <dl class="first">
                            <dt>课程须知</dt>
                            <dd class="autowrap">{$courseInfo.course_keywords}</dd>
                        </dl>
                    </div>
                </div>
                <div class="js-recom-box"></div>
             </div>        
        </div>
        <!--右侧block end-->
    </div>
    <div class="clear"></div>

</div>
</div>
<!--script-->
<script type="text/javascript" src="__INDEX_JS__/error.js"></script>

<script type="text/javascript">
  (function(){
    
  })();
</script>
<div class="mask"></div>
</body>
</html>
