{volist name="plateListData" id="data"}
<tr>
    <td class="col-sm-1">{$data.plate_id}</td>

    <td class="col-sm-6" style="text-indent:{$data.count*20}px;">
        {$data.count?'| --' : ''} {$data.plate_title}
    </td>

    <td class="col-sm-1">{$data.plate_order}</td>
    <td>
        <a class="btn btn-outline btn-info" href="{:url('plateSet')}">修改</a>
        <button class="btn btn-outline btn-danger" id="delete_">删除</button>
        <a class="btn btn-outline btn-primary" href="{:url('plateSet')}">添加子版块</a>
    </td>
</tr>
{/volist}