{volist name="plateListData" id="data"}
<tr>
    <td class="col-sm-1">{$data->plate_id}</td>
    <td class="col-sm-6" style="text-indent:{$data.count*20}px;">
        {$data->plate_title}
    </td>
    <td class="col-sm-2">{$data->plate_order}</td>
    <td>
        <a class="btn btn-outline btn-info" href="{:url('plateModify',['plateId'=>$data.plate_id])}">修改</a>
        <a class="btn btn-outline btn-primary" href="{:url('plateAddSun',['plateId'=>$data.plate_id])}">添加子版块</a>
    </td>
</tr>
{/volist}