<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网-程序员的梦工厂</title>
<script type="text/javascript" src="__INDEX_JS__/jquery-1.12.3.min.js"></script>
<link rel="apple-touch-icon" sizes="76x76" href="__INDEX_IMG__/common/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="__INDEX_IMG__/common/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="__INDEX_IMG__/common/touch-icon-ipad-retina.png">
<meta name="Keywords" content="" />



<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<!-- 自定义css -->
<link rel="stylesheet" href="__INDEX_CSS__/myself.index.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/myself.index2.css" type="text/css" />
<!-- <script>var _hmt = _hmt || [];	OP_CONFIG.page = 'index';</script> -->

</head>
<body  id="index">

<div id="header">
    <div class="page-container" id="nav"  style="background-color: #fff !important;">
        <div id="logo" class="logo">
        	<a href="{:url('Index/index')}" target="_self" title="首页"><img title="首页" src="__INDEX_IMG__/xiaobai.png"></a>
        </div>
        <ul class="nav-item">
            
            <li>
                <a href="{:url('Index/indexList')}"  target="_self">课程</a>
            </li>
        </ul>
        <div id="login-area">
            {if $Think.session.user_id}
	        <ul class="clearfix logined">
				<li class='remind_warp'>
					<i class="msg_remind"></i>
					<a target="_blank" href='http://www.imooc.com/u/3386918/notices'>
						<i class='imv2-notifications'></i>
					</a>
				</li>
				<li class="set_btn user-card-box"  id="header-user-card">
					<a id="header-avator" class="user-card-item" action-type="my_menu"  href="{:url('set/setBind')}" target="_self">
						<img src='__WEBSITE__/uploads/{$Think.session.userinfo_headi}' width='40' height='40' />
						<i class="myspace_remind" style="display: none;"></i>
						<span style="display: none;">动态提醒</span>
					</a>
					<!-- 小弹窗 -->
					<div class="g-user-card">
						<div class="card-inner">
							<div class="card-top clearfix">
								<a href='{:url("set/setBind")}' class='l'>
									<img src="__WEBSITE__/uploads/{$Think.session.userinfo_headi}" alt="{$Think.session.user_name}">
								</a>
								<div class="card-top-right-box l">
									<a href='{:url("set/setProfile")}' class="name text-ellipsis">
										<span>{$Think.session.user_name}</span>
									</a>
									<div class="meta">
										<a href="http://www.imooc.com/u/3386918/experience">经验<b id="js-user-mp">6,129</b></a>
										<a href="http://www.imooc.com/u/3386918/credit">积分<b id="js-user-credit">0</b></a>            
									</div>
								</div>
							</div>
							<div class="user-center-box">
			                    <ul class="clearfix">
			                        <li class="l"><a href="{:url('Person/personCourse')}" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
			                        <li class="l">
			                        	<a href="{:url('Order/orderInfo')}" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
			                        	<i id="js-usercard-coupon-icon"></i>
			                        </li>
			                        <li class="l"><a href="{:url('Order/orderCart')}" target="_blank"><span class="user-center-icon imv2-cart"></span>购物车</a></li>
			                        <li class="l"><a href="{:url('set/setBind')}" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
			                    </ul>
			                </div>
							
							<div class="card-history">
							</div>
							
							<div class="card-sets clearfix">
								<a href="{:url('Login/loginOut')}" class="l">安全退出</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
            {else /}
            <ul class="header-unlogin clearfix">
                            
                <li class="header-signin">
                    <a  id="js-signin-btn" href="{:url('Login/login')}">登录</a> / <a  id="js-signup-btn" href="{:url('Login/register')}">注册</a>
                </li>             
            </ul>
            {/if}
        </div>
        <div class='search-warp clearfix' style='min-width: 32px; height: 72px;'>
            <div class="search-area" data-search="top-banner">
                <input class="search-input" data-suggest-trigger="suggest-trigger"      type="text" autocomplete="off">
            </div>
            <div class='showhide-search' data-show='no'><i class='icon-search'></i></div>
        </div>
    </div>
</div>
	


<div id="main">
<div class="bk"></div>
<div class="bgfff banner-box">
<div class="g-banner pr">
    <div class="menuwrap">
    </div>
    <!-- 前端开发 -->
    {volist name="bigPlateList" id="bigPlate"}
    <div class="submenu a hide sb" data-id="{$bigPlate.plate_id}" >
        <div class="innerBox clearfix">
            <div class="subinnerBox l">
                <div class="cates-box">

                    <div class="fe-base-box clearfix">
                        <div class="banner-line">
                             <span class="bold mr10 l small-title">基础</span>
                        </div>
                        <div class="tag-box l">
                        	{volist name="smallPlateList" id="smallPlate"}
                        	{if $smallPlate.plate_fid == $bigPlate.plate_id}
                            <a target="_blank" href="/course/list?c=html">{$smallPlate.plate_title}</a>
                            {/if}
                        	{/volist}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recomment-box">
            <div class="l banner-course-card">
			<a href="http://class.imooc.com/sc/25?mc_marking=26dd86266f55cfc7a3b8b624af302664&mc_channel=qianduankaifa1" target="_blank" title="前端进阶：响应式开发与常用框架" class="clearfix">
			    <img src="__INDEX_IMG__/5915802b0001da6206000338.jpg" class="l">
			    <div class="l course-card">
			        <h3 class='course-card-name'>前端进阶：响应式开发与常用框架</h3>
			        						<div class='course-card-info'>
							<span>职业路径</span><span>5步／30课</span><span><i class="icon-set_sns"></i>247</span>
						</div>
								        																				
							<div class='course-card-price'>￥599.00</div>
				</div>
			</a>
			</div>

	        <div class="l banner-course-card">
			<a href="http://coding.imooc.com/class/129.html?mc_marking=dce36388dbfc942a1d01880e63a59e4c&mc_channel=qianduankaifa2" target="_blank" title="前端跳槽面试必备技巧" class="clearfix">
			    <img src="__INDEX_IMG__/59897b1600011ec805400300-360-202.jpg" class="l">
			    <div class="l course-card">
			        <h3 class='course-card-name'>前端跳槽面试必备技巧</h3>
			        						<div class='course-card-info'>
							<span>实战</span><span>中级</span><span><i class="icon-set_sns"></i>678</span>
						</div>
								        																				
							<div class='course-card-price'>￥199.00</div>
																					    </div>
			</a>
			</div>
	        <div class="l banner-course-card">
			<a href="http://coding.imooc.com/class/107.html?mc_marking=989e3412c6cb7f02a3a0959e9c06d840&mc_channel=qianduankaifa3" target="_blank" title="全网稀缺Vue 2.0高级实战 独立开发专属音乐WebAPP" class="clearfix">
			    <img src="__INDEX_IMG__/592e2eab0001302505660314-360-202.jpg" class="l">
			    <div class="l course-card">
			        <h3 class='course-card-name'>全网稀缺Vue 2.0高级实战 独立开发专属音乐WebAPP</h3>
			        						<div class='course-card-info'>
							<span>实战</span><span>高级</span><span><i class="icon-set_sns"></i>1458</span>
						</div>
								        																				
							<div class='course-card-price'>￥399.00</div>
																					    </div>
			</a>
			</div>
	        <div class="l banner-course-card">
			<a href="http://coding.imooc.com/class/131.html?mc_marking=1c676ba0e3770b8ce7fa73c472e906b0&mc_channel=qianduankaifa4" target="_blank" title="Vue+Django REST framework 打造生鲜电商项目" class="clearfix">
			    <img src="__INDEX_IMG__/59a5415a0001ccf505400300-360-202.jpg" class="l">
			    <div class="l course-card">
			        <h3 class='course-card-name'>Vue+Django REST framework 打造生鲜电商项目</h3>
			        						<div class='course-card-info'>
							<span>实战</span><span>中级</span><span><i class="icon-set_sns"></i>267</span>
						</div>
								        																				
							<div class='course-card-price'>￥388.00</div>
																					    </div>
			</a>
			</div>
	     </div>
    </div>
    {/volist}

    <div class="menuContent">
    	{volist name="bigPlateList" id="bigPlate"}
        <div class="item sb" data-id="{$bigPlate.plate_id}">
            <a href="/course/list?c=fe" target="_blank">
				<span class="group">{$bigPlate.plate_title}</span>
				<i class='icon-right2'></i>
            </a>
        </div>
   		{/volist}

    </div>
    
    <div class="g-banner-content">

        <div class="banner g-banner-box" id="b04">

		    <ul>

		        <li><img src="__INDEX_IMG__/59df1a640001e89e09360316.jpg" alt="" width="963" height="316" ></li>

		        <li><img src="__INDEX_IMG__/59edd41f00011c8409360316.jpg" alt="" width="963" height="316" ></li>

		        <li><img src="__INDEX_IMG__/59df1a640001e89e09360316.jpg" alt="" width="963" height="316" ></li>

		        <li><img src="__INDEX_IMG__/59e87bbe0001cf7e09360316.jpg" alt="" width="963" height="316" ></li>

		        <li><img src="__INDEX_IMG__/59df1a640001e89e09360316.jpg" alt="" width="963" height="316" ></li>

		    </ul>

		    <a href="javascript:void(0);" class="unslider-arrow04 prev"><img class="arrow" id="al" src="__INDEX_IMG__/arrowl.png" alt="prev" width="20" height="35"></a>

		    <a href="javascript:void(0);" class="unslider-arrow04 next"><img class="arrow" id="ar" src="__INDEX_IMG__/arrowr.png" alt="next" width="20" height="37"></a>

		</div>
		
        <div class='path-banner clearfix'>
            <a href='http://class.imooc.com/?c=fe&mc_marking=032475ea974e6e9bb1ee3f2caad1acb2&mc_channel=L1' target="_blank" data-track='ljtj-1-1'>
                <i class="i-web"></i>
                <p class="tit">Web前端攻城狮</p>
                <p class="desc">互联网时代最火爆的技术</p>
            </a>
            <a href='http://class.imooc.com/?c=java&mc_marking=7540f1d4ea6181748df32c86d4112fdf&mc_channel=L2' target="_blank" data-track='ljtj-1-3'>
                <i class="i-java"></i>
                <p class="tit">Java攻城狮</p>
                <p class="desc">健壮、安全、适用广泛</p>
            </a>
            <a href='http://class.imooc.com/?c=android&mc_marking=9f3ec9c2c8c0f823baf785125012b277&mc_channel=L3' target="_blank" data-track='ljtj-1-4'>
                <i class="i-android"></i>
                <p class="tit">Android攻城狮</p>
                <p class="desc">移动设备市场份额第一</p>
            </a>
            <a href='http://class.imooc.com/?c=php&mc_marking=a0ae214050107d9a52522dc8ed0d7ad0&mc_channel=L4' target="_blank" data-track='ljtj-1-2'>
                <i class="i-php"></i>
                <p class="tit">PHP攻城狮</p>
                <p class="desc">世界上最好的语言：）</p>
            </a>
            <a href='http://class.imooc.com/?c=ios&mc_marking=286b51b2a8e40915ea9023c821882e74&mc_channel=L5' target="_blank" data-track='ljtj-1-5'>
                <i class="i-ios"></i>
                <p class="tit">iOS攻城狮</p>
                <p class="desc">可能是全球最好用的系统</p>
            </a>
        </div>
    </div>
	
    
</div>
</div>			
<div class="bgfff">		
	<div class='container-types clearfix'>			
		<h3 class='types-title'>				
			<span class="tit-icon icon-shizhan-l tit-icon-l"></span>
			<em>实</em>／<em>战</em>／<em>推</em>／<em>荐</em>
			<span class="tit-icon icon-shizhan-r tit-icon-r"></span>						
		</h3>			
		<div class='clearfix types-content'>													{volist name="courseFree" id="course"}
			<div class='index-card-container course-card-container container'>
				<a target="_blank" class='course-card' href="{:url('course/courseComment',['course_id'=>$course.course_id])}" data-track="sztj-1-1">
				<div class='course-card-top hashadow'>
					<img class="course-banner" src="{$course.course_pic}">
					<div class="course-label">
						<label>{$course.plate_title}</label>
					</div>
				</div>
				<div class='course-card-content'>
					<h3 class='course-card-name'>{$course.course_title}</h3>
					<div class='clearfix course-card-bottom'>
						<div class='course-card-info'>
							<span>{$course.course_grade}</span>
							<span><i class="icon-set_sns"></i>{$course.course_sales}</span>
							<span class="course-star-box">
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
							</span>
						</div>	
						<div class='course-card-price'>￥{$course.course_rate}</div>
					</div>
				</div>
				</a>
			</div>
			{/volist}
		</div>		
	</div>	
</div>				
<div class="bg000">		
	<div class='container-types clearfix'>			
		<h3 class='types-title'>				
			<span class="tit-icon icon-new-l tit-icon-l"></span>
			<em>新</em>／<em>上</em>／<em>好</em>／<em>课</em>
			<span class="tit-icon icon-new-r tit-icon-r"></span>							
		</h3>			
		<div class='clearfix types-content'>													{volist name="courseNew" id="course"}
			<div class='index-card-container course-card-container container'>
				<a target="_blank" class='course-card' href="{:url('course/courseDetail',['course_id'=>$course.course_id])}" data-track="sztj-1-1">
				<div class='course-card-top hashadow'>
					<img class="course-banner" src="{$course.course_pic}">
					<div class="course-label">
						<label>{$course.plate_title}</label>
					</div>
				</div>
				<div class='course-card-content'>
					<h3 class='course-card-name'>{$course.course_title}</h3>
					<div class='clearfix course-card-bottom'>
						<div class='course-card-info'>
							<span>{$course.course_grade}</span>
							<span><i class="icon-set_sns"></i>{$course.course_sales}</span>
							<span class="course-star-box">
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
								<i class="icon-star2 on"></i>
							</span>
						</div>	
						<div class='course-card-price'>￥{$course.course_rate}</div>
					</div>
				</div>
				</a>
			</div>
			{/volist}
		</div>		
	</div>
</div>					


<!-- 猿问手记模块 -->
<div class="bg000">	
	<div class="container-types">		
		<h3 class='types-title'>			
			<span class="tit-icon icon-art-l tit-icon-l"></span>
			<em>精</em>／<em>彩</em>／<em>手</em>／<em>记</em>／<em>及</em>／<em>猿</em>／<em>问</em>
			<span class="tit-icon icon-art-r tit-icon-r"></span>		
		</h3>		
		<dl class="wonderful-list js-wonderful-list types-content">						
			<dd class="item">				
				<label class="article-label blue">
					<i class="icon-blog"></i>手记文章
				</label>				
				<div class="clearfix article-tit">					
					<a href="/article/20468" target="_blank" class="big-tit l hasimg">Android开发者2017年最值得关注的25个库</a>
					<img class="r" src="__INDEX_IMG__/59c942dd0001776710800655-210-130.jpg" data-original="__INDEX_IMG__/59c942dd0001776710800655-210-130.jpg">									
				</div>				
				<div>					
					<p class="article-content">2017年最值得关注的25个Android库 这是在2017年发布的25个最好的Android开发库的列表。所有这些都值得尝试 。 以下不是排名顺序。 让我们开始吧！ 1.Lottie 这个库能够解析 Adobe After Effects 并且把他们渲染到手机上。在Google应用市场上，也有相应的demo。这个库被超过7500github使用者关注。 Github链接：https://gith...
					</p>					
					<div class="bottom-info clearfix">
						<span>浏览 6734</span>
						<span>推荐 33</span>
						<a href="/article/20468" target="_blank" class="r blue">阅读全文
							<i class="icon-right"></i>
						</a>
					</div>				
				</div>			
			</dd>								
		</dl>	
	</div>
</div>
<!-- 精英讲师模块 -->
<div class="elite-bg">	
	<div class='container-types container-teacher-types clearfix'>		
		<h3 class='types-title'>			
			<span class="tit-icon icon-teacher-l tit-icon-l"></span>
			<em>慕</em>／<em>课</em>／<em>精</em>／<em>英</em>／<em>名</em>／<em>师</em>
			<span class="tit-icon icon-teacher-r tit-icon-r"></span>			
			<a href='/lecturer/' class='types-title-more' target="_blank">				
				<span>查看更多</span>				
				<i class='imv2-arrow2_r'></i>			
			</a>		
		</h3>		
		<div class='lecturer-list clearfix'>																				
			<a target="_blank" href='http://www.imooc.com/u/4294850' class='lecturer-item' data-track="jyms-1-1">		
				<img class='lecturer-uimg' src="__INDEX_IMG__/54584e2c00010a2c02200220-100-100.jpg" data-original='__INDEX_IMG__/54584e2c00010a2c02200220-100-100.jpg' title='7七月' />					
				<span class='lecturer-name'>7七月</span>					
				<span class='lecturer-title'>全栈工程师</span>					
				<span class='lecturer-p' title='多年研发经验，毕业后一直任职于某大型互联网公司，担任研发经理。后开始自己的创业。精通Python、NodeJS、Javascript、PHP等，一直致力于Web技术的研究'>多年研发经验，毕业后一直任职于某大型互联网公司，担任研发经理。后开始自己的创业。精通Python、NodeJS、Javascript、PHP等，一直致力于Web技术的研究
				</span>				
			</a>								
		</div>	
	</div>
</div>
<!-- 全明星模块 -->
<div class="bgfff">	
	<div class='container-types clearfix'>		
		<h3 class='types-title'>			
			<span class="tit-icon icon-star-l tit-icon-l"></span>
			<em>吊</em>／<em>炸</em>／<em>天</em>／<em>全</em>／<em>明</em>／<em>星</em>
			<span class="tit-icon icon-star-r tit-icon-r"></span>		
		</h3>		
		<div class='star-list clearfix'>			
			<dl class="lead-list clearfix js-lead-list">
				<dd>
					<div class="lead-item-photo">
						<a target="_blank" href="">
							<img src="http://img4.sycdn.imooc.com/54584e2c00010a2c02200220-100-100.jpg">
						</a>
						<span class="purple"></span>
					</div>
					<p class="lead-item-name ellipsis">黄鹏</p>
					<p class="lead-item-tit">风骚课程学霸</p>
				</dd>
			</dl>			
			<dl class="other-list clearfix js-other-list"></dl>		
		</div>	
	</div>
</div>
<div class="footer idx-minwidth">  
	<div class="container">    
		<div class="footer-wrap idx-width">      
			<div class="footer-sns clearfix">      	
				<div class="l">      		
					<a href="javascript:void(0);" class="footer-sns-weixin" target="_blank" title="微信">	         	
						<i class="footer-sns-weixin-expand"></i>	        
					</a>	        
					<p>官方公众号</p>      	
				</div>      	
				<div class="l">      		
					<a href="http://weibo.com/u/3306361973" class="footer-sns-weibo hide-text" target="_blank" title="新浪微博">新浪微博</a>      		
					<p>官方微博</p>      	
				</div>      
			</div>    
		</div>    
		<div class="footer-link">      <!-- <a href="/about/us" target="_blank" title="关于我们">关于我们</a> -->      
			<a href="/about/cooperate" target="_blank" title="企业合作">企业合作</a>      
			<a href="/about/job" target="_blank" title="人才招聘">人才招聘</a>      
			<a href="/about/contact" target="_blank" title="联系我们">联系我们</a>      
			<a href="/about/recruit" target="_blank" title="讲师招募">讲师招募</a>     
			<a href="/about/faq" target="_blank" title="常见问题">常见问题</a>      
			<a href="/user/feedback" target="_blank" title="意见反馈">意见反馈</a>      
			<a href="http://daxue.imooc.com/" target="_blank">慕课大学</a>      
			<a href="/about/friendly" target="_blank" title="友情链接">友情链接</a>    
		</div>        
		<div class="footer-copyright">     
			<p>©&nbsp2017&nbspimooc.com&nbsp&nbsp京ICP备 13046642号-2</p>    
		</div>  
	</div>
</div>

</div>
<!--script-->
<script type="text/javascript" src="__INDEX_JS__/error.js"></script>
<script src="__INDEX_JS__/ssologin.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea_config.js"></script>
<script type="text/javascript">seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);</script>
</body>
</html>
<script type="text/javascript" src="__INDEX_JS__/eval.js"></script>
<!--自定义JS-->
<script src="__INDEX_JS__/unslider.min.js"></script>
<script>
$(document).ready(function(e) {

    var unslider04 = $('#b04').unslider({

		dots: true

	}),

	data04 = unslider04.data('unslider');

	

	$('.unslider-arrow04').click(function() {

        var fn = this.className.split(' ')[1];

        data04[fn]();

    });

});
</script>

<script type="text/javascript">
	$(function(){
			$(".sb").hover(function(){
				var heihei = $(this).data('id');
				$(".submenu[data-id="+heihei+"]").show();
			},function(){
				var heihei = $(this).data('id');
				$(".submenu[data-id="+heihei+"]").hide();
			});
			$('.user-card-box').mouseover(function(){
				$(this).addClass('hover');
			});
			$('.user-card-box').mouseout(function(){
				$(this).removeClass('hover');
			});
	});
</script>
<script type="text/javascript">
var OP_CONFIG={"module":"index","page":"index","userout":0,"usercaution":null};
var isLogin = 0;
var is_choice = "";
var seajsTimestamp="v=201710121623";
var _msg_unread = 0; 
var _not_unread = 0; 
var _cart_num = 0;
</script>
