
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单_慕课网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta property="qc:admins" content="77103107776157736375" />
    <meta property="wb:webmaster" content="c4f857219bfae3cb" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
    
    <script type="text/javascript">
        var OP_CONFIG = {"module":"pay","page":"myorder","userout":0,"userInfo":{"uid":"3386918","nickname":"qq_\u7f04\u9ed8_83386918","head":"http:\/\/img.mukewang.com\/user\/573dc35200014e4101000100-80-80.jpg","usertype":"1","roleid":0,"phone":""}};
            OP_CONFIG.isLogin = 1;
        var _msg_unread = 0; 
        var _not_unread = 0; 
        var _cart_num = 0;
        var requirejsTimestamp="v=201709251122";
            </script>
    
    
    
<!--imooc-->

<!--/imooc-->

	
	


    <link rel="stylesheet" href="__INDEX_CSS__/order.css" type="text/css" />
</head>

<body>

<div id="header">
    <div class="page-container" id="nav"  >
         <div id="logo" class="logo"><a href="index.html" target="_self" class="hide-text" title="首页"></a></div>
        
        <ul class="nav-item">
                        
                        
            <li>
                <a href="/course/list" class="active" target="_self">课程</a>
            </li>           
            
            
        </ul>
        <div id="login-area">
            <ul class="clearfix logined">

			<li class="shop-cart" id="shop-cart">
		        <a href="http://order.imooc.com/pay/cart" class="shop-cart-icon" target="_blank">
		            <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
		        </a>
		        <div class="my-cart" id="js-my-cart"></div>
		    </li>
			<li class='remind_warp'>
				<i class="msg_remind"></i>
				<a target="_blank" href='http://www.imooc.com/u/3386918/notices'>
					<i class='imv2-notifications'></i>
				</a>
			</li>
			
			<li class="set_btn user-card-box"  id="header-user-card">
				<a id="header-avator" class="user-card-item" action-type="my_menu"  href="http://www.imooc.com/u/3386918/plans" target="_self">
					<img src='__INDEX_IMG__/573dc35200014e4101000100-40-40.jpg' width='40' height='40' />
					<i class="myspace_remind" style="display: none;"></i>
					<span style="display: none;">动态提醒</span>
				</a>
				<div class="g-user-card">
					<div class="card-inner">
						<div class="card-top clearfix">
							<a href='http://www.imooc.com/u/3386918' class='l'>
								<img src="__INDEX_IMG__/573dc35200014e4101000100-100-100.jpg" alt="qq_缄默_83386918">
							</a>
							<div class="card-top-right-box l">
								<a href='http://www.imooc.com/u/3386918' class="name text-ellipsis">
									<span>qq_缄默_83386918</span>
								</a>
							
								<div class="meta">
									<a href="http://www.imooc.com/u/3386918/experience">经验<b id="js-user-mp">6,129</b></a>
									<a href="http://www.imooc.com/u/3386918/credit">积分<b id="js-user-credit">0</b></a>            
								</div>
							</div>
						</div>
						<div class="user-center-box">
		                    <ul class="clearfix">
		                        <li class="l"><a href="http://www.imooc.com/u/3386918/courses" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
		                        <li class="l">
		                        	<a href="http://order.imooc.com/myorder" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
		                        	<i id="js-usercard-coupon-icon"></i>
		                        </li>
		                        <li class="l"><a href="http://www.imooc.com/mall/index" target="_blank"><span class="user-center-icon imv2-score_shop"></span>积分商城</a></li>
		                        <li class="l"><a href="http://www.imooc.com/user/setbindsns" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
		                    </ul>
		                </div>
						
						<div class="card-history">
													</div>
						
						<div class="card-sets clearfix">
							<a href="/passport/user/logout?referer=http://class.imooc.com" class="l">安全退出</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
        </div>
        <div class='search-warp clearfix' style='min-width: 32px; height: 72px;'>
            <div class="search-area" data-search="top-banner">
                <input class="search-input" data-suggest-trigger="suggest-trigger"      type="text" autocomplete="off">
                <input type='hidden' class='btn_search' data-search-btn="search-btn" />
                <ul class="search-area-result" data-suggest-result="suggest-result">
                </ul>
            </div>
            <div class='showhide-search' data-show='no'><i class='icon-search'></i></div>
        </div>
    </div>
</div>

<div class='body-main'>


<div class="order-main clearfix">
	
	    
<div class="slider l">
    <h1>订单服务</h1>
    <ul class="nav-menu">
        <a href="/myorder">
            <li class="clearfix active">
                <p class="nav-name l">我的订单</p>
                <span class="imv2-arrow2_r r"></span>
            </li> 
        </a>
        
    </ul>
</div><!-- .slider end -->

	
	<div class="right-container l">
		<h1>我的订单<span>共<i>5</i>个订单</span></h1>
		<div class='myOrder'>
			<ul class="myOrder-list">
				<li data-flag="1710191736352946">
					<p class="myOrder-number">
						订单编号：1710191736352946
						<span class="date">2017-10-19 17:36:35</span>
						<a href="/user/feedback" target="_blank" class="r">我有疑问，需要反馈？</a>
					</p>
					<div class="myOrder-course clearfix">
						<dl class="course-del l">
							<dd class="clearfix">
								<a href="http://coding.imooc.com/class/144.html" class="l">
									<img class="l" src="__INDEX_IMG__/59c9b245000143ae05400300-160-90.jpg" width="160" height="90"/>
								</a>
								<div class="del-box l">
									<a href="http://coding.imooc.com/class/144.html">
										<p class="course-name">SSM到Spring Boot-从零开发校园商铺平台</p>
									</a>							
									<p class="price-btn-box clearfix">
										<!-- 如果有优惠券 -->
										<span class="l course-little-price">￥299.00</span>
									</p>
								</div>
							</dd>
						</dl>
						<div class="course-money l pt64">
							<div class="total-box">
								<p class="type-price">
									<span class="RMB">&yen;</span>299.00
								</p>
							</div>
						</div>
						<div class="course-action l">
							<p class="order-close">
								已关闭
							</p>
						</div>
					</div>
				</li>			
			</ul>
			<!-- 是否有分页 -->
						<!-- 是否有分页 end -->
		</div>
	</div>
</div>
</div>


   <div id="footer">
<div class="waper">
    <div class="footerwaper clearfix">
        <div class="followus r">
            <a class="followus-weixin" href="javascript:;"  target="_blank" title="微信">
                <div class="flw-weixin-box"></div>
            </a>
            <a class="followus-weibo" href="http://weibo.com/u/3306361973"  target="_blank" title="新浪微博"></a>
            <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
        </div>
        <div class="footer_intro l">
            <div class="footer_link">
                <ul>
                    <li><a href="http://www.imooc.com/" target="_blank">网站首页</a></li>
                    <li><a href="http://www.imooc.com/about/cooperate" target="_blank" title="企业合作">企业合作</a></li>
                    <li><a href="http://www.imooc.com/about/job" target="_blank">人才招聘</a></li>
                    <li> <a href="http://www.imooc.com/about/contact" target="_blank">联系我们</a></li>
                    <li> <a href="http://www.imooc.com/about/recruit" target="_blank">讲师招募</a></li>
                     <li> <a href="http://class.imooc.com/user/faq" target="_blank">常见问题</a></li>
                    <li> <a href="http://class.imooc.com/user/feedback" target="_blank">意见反馈</a></li>
                    <li><a href="http://daxue.imooc.com/" target="_blank">慕课大学</a></li>
                    <li> <a href="http://www.imooc.com/about/friendly" target="_blank">友情链接</a></li>
                </ul>
            </div>
            <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
        </div>
    </div>
</div>
</div>

<div id="J_GotoTop" class="elevator">
    <a href="/user/feedback" class="elevator-msg" target="_blank">
        <i class="imv2-feedback"></i>
        <span class="">意见反馈</span>
    </a>
    <a href="http://www.imooc.com/about/faq" class="elevator-faq" target="_blank">
        <i class="imv2-help_outline"></i>
        <span class="">常见问题</span>
    </a>
    <a href="http://www.imooc.com/mobile/app" target="_blank" class="elevator-app" >
        <i class="imv2-appdownload"></i>
        <span class="">APP下载</span>
        <div class="elevator-app-box"></div>
    </a>
    <a href="javascript:void(0)" class="elevator-weixin no-goto" id="js-elevator-weixin" >
        <i class="imv2-weixigzh"></i>
        <span class="">官方微信</span>
        <div class="elevator-weixin-box"></div>
    </a>
    <a href="javascript:void(0)" class="elevator-top no-goto" style="display:none" id="backTop">
        <i class="imv2-arrow2_u"></i>
        <span class="">返回顶部</span>
    </a>
</div>



<script type="text/javascript" src="__INDEX_JS__/require.js"></script>
<script src='__INDEX_JS__/jquery.min.js'></script>
<script src="__INDEX_JS__/ssologin.js"></script>
<script type="text/javascript" src="__INDEX_JS__/common.js"></script>






    <script>/*RESOURCE_MAP*/</script>
    <script data-entry="pay/myorder/index">
    requirejs(['pay/myorder/index'], function(){});
	</script>



<div style="display: none">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?613bf05434ed4b759c19cea36f7193a0";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</div>
</body>
</html>