{extend name='public/base' /}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单_慕课网</title>
    <link rel="stylesheet" href="__INDEX_CSS__/order.css" type="text/css" />
</head>

<body>

<div class='body-main'>


<div class="order-main clearfix">
	
	    
<div class="slider l">
    <h1>订单服务</h1>
    <ul class="nav-menu">
        <a href="/myorder">
            <li class="clearfix active">
                <p class="nav-name l">我的订单</p>
                <span class="imv2-arrow2_r r"></span>
            </li> 
        </a>
        
    </ul>
</div><!-- .slider end -->

	
	<div class="right-container l">
		<h1>我的订单<span>共<i>{$count}</i>个订单</span></h1>
		<div class='myOrder'>
			<ul class="myOrder-list">
				{foreach $orders as $value}
				<li data-flag="1710191736352946">
					<p class="myOrder-number">
						{$value['order_id']}
						<span class="date">{$value['create_time']}</span>
						<a href="/user/feedback" target="_blank" class="r">我有疑问，需要反馈？</a>
					</p>
					<div class="myOrder-course clearfix">
						<dl class="course-del l">
							{foreach $value['order_course'] as $v}
							<dd class="clearfix">
								<a href="{:url('course/courseComment',['course_id'=>$v['course_id']])}" class="l">
									<img class="l" src="{$v['course_pic']}" width="160" height="90"/>
								</a>
								<div class="del-box l">
									<a href="{:url('course/courseComment',['course_id'=>$v['course_id']])}">
										<p class="course-name">{$v['course_title']}</p>
									</a>							
									<p class="price-btn-box clearfix">
										<!-- 如果有优惠券 -->
										<span class="l course-little-price">￥{$v['course_rate']}</span>
									</p>
								</div>
							</dd>
							{/foreach}
						</dl>
						<div class="course-money l pt64">
							<div class="total-box">
								<p class="type-price">
									<span class="RMB">&yen;</span>{$value['order_money']}
								</p>
							</div>
						</div>
						<div class="course-action l">
							<p class="order-close">
								已支付
							</p>
						</div>
					</div>
				</li>
				{/foreach}			
			</ul>
			<!-- 是否有分页 -->
						<!-- 是否有分页 end -->
		</div>
	</div>
</div>
</div>






</body>
</html>
{/block}