{extend name="public/base"}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网</title>
<link rel="stylesheet" href="__INDEX_CSS__/base_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_2.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/address-less.css" type="text/css"/>
</head>
<body >
<div id="main">
<div class="settings-cont clearfix">
    <div class="setting-left l">
    <div class="avator-wapper">
        <div class="avator-mode">
            <img class="avator-img" src="__WEBSITE__/uploads/{$userinfo['userinfo_headi']}" data-portrait="545862e700016daa02200220" width="92" height="92">
        </div>
        <div class="des-mode">
            <p>{$user['user_name']}</p>
        </div>
    </div>
    <iframe src="about:blank" id="uploadtarget" name="uploadtarget" frameborder="0" style="display:none;"></iframe>
    <div class="list-wapper">
        <h2>账户管理</h2>
        <div class="line"></div>
        <ul class="menu">
            <li><a href="{:url('set/setBind')}">账号绑定<span class="arr"><i class="icon-right2"></i></span></a></li>
            <li><a href="{:url('set/setProfile')}">个人信息<span class="arr"><i class="icon-right2"></i></span></a></li>
            <li><a href="{:url('set/setSm')}">实名认证<span class="arr"><i class="icon-right2"></i></span></a></li>
            <li><a href="{:url('set/setAddr')}" class="on">收货地址<span class="arr"><i class="icon-right2"></i></span></a></li>
        </ul>
    </div>
    </div>
    <div class="setting-right">
        <div class="setting-right-wrap wrap-boxes settings" >
            <div class="page-settings">
                <div class="common-title">收货地址</div>
                <div class="line"></div>
                <div class="setting ">
                    <div class="contentBox">
                        <ul class="list-box clearfix">
                            <li class="add-address l">
                                <div class="add-box">
                                    <p class="icon-plus add-btn js-add-btn"></p>
                                    <p class="add-text">添加新地址</p>
                                </div>
                            </li>
                            {if $addr}
                            {foreach $addr as $value}
                            <li class="l" data-id="3302" data-isdefault="1">
                                <div class="normal-icon show">
                                    {if $value.addr_select}
                                    <span class="triangle-topright"></span>
                                    <i>默认</i>
                                    {/if}
                                </div>
                                <h3 class="name">{$value.addr_name}</h3>
                                <p class="phone clearfix">
                                    <span class="l detail-key">电话：</span>
                                    <span class="l detail-value">{$value.addr_phone}</span>
                                </p>
                                <p class="area clearfix">
                                    <span class="l detail-key">地区：</span>
                                    <span class="l detail-value">{$value.addr_city}</span>
                                </p>
                                <p class="address-text clearfix">
                                    <span class="l detail-key">地址：</span>
                                    <span class="l detail-value">{$value.addr_address}</span>
                                </p>
                                <p class="zip-code clearfix">
                                    <span class="l detail-key">邮编：</span>
                                    <span class="l detail-value">{$value.addr_postcode}</span>
                                </p>
                                <div class="modify-box clearfix">
                                    <span class="js-delete-btn delete-btn r" data-addrid="{$value.addr_id}">删除</span>
                                    <span class="js-modify-btn modify-btn r">&emsp;&emsp;</span>
                                    <span class="js-normal-btn normal-btn r show" data-addrid="{$value.addr_id}">设置为默认地址</span>
                                </div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="moco-modal-layer fixed" style="z-index: 902; visibility: hidden; left: 524px; top: 125.5px; opacity: 1; width: 488px; height: 509px;">                    
    <div class="moco-modal-title">
        <div>
            <span>收货地址</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog" style="display: block;">
            <div class="address-box">                  
                <form id="address-form" action="{:url('addAddr')}" method="post">                        
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for="name">姓名：</label>                            
                        <div class="rlf-group">                             
                            <input type="text" name="addr_name" id="name" data-minlength="2" data-maxlength="25" autocomplete="off" data-validate="require-string" class="moco-form-control" value="" placeholder="长度不能超过10个字符">                             
                            <p class="error-tip errorHint"></p>                         
                        </div>                      
                    </div>                      
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for="phone">电话：</label>                           
                        <div class="rlf-group">                             
                            <input type="text" name="addr_phone" id="phone" autocomplete="off" data-validate="require-mobile-phone" class="moco-form-control" value="" placeholder="输入您的手机号">                                
                            <p class="error-tip errorHint"></p>                         
                        </div>                      
                    </div>                      
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for="province-select">城市：</label>                         
                        <div class="rlf-group profile-address">                             
                            <input type="text" name="addr_city" id="phone" autocomplete="off" data-validate="require-mobile-phone" class="moco-form-control" value="" placeholder="输入您所在城市 例如：河北省石家庄市">                   
                            <p class="error-tip errorHint js-select-tip"></p>                           
                        </div>                      
                    </div>                      
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for="addrdetail">详细地址：</label>                 
                        <div class="rlf-group">                             
                            <div class="pr">                                    
                                <textarea name="addr_address" id="addrdetail" class="noresize js-sign moco-form-control" placeholder="详细填写你的收货地址，如街道名称、门牌号码、楼层、房间号等信息"></textarea>
                                <div class="cb"></div>                                  
                                <p class="error-tip errorHint"></p>                             
                            </div>                          
                        </div>                      
                    </div>                      
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for="zipcode">邮编：</label>                         
                        <div class="rlf-group">                             
                            <input type="text" name="addr_postcode" id="zipcode" autocomplete="off" data-validate="require-notempty" class="moco-form-control" value="" placeholder="请输入邮编">
                            <p class="error-tip errorHint"></p>                         
                        </div>                      
                    </div>                      
                    <div class="wlfg-wrap clearfix">                            
                        <label class="label-name" for=""></label>                           
                        <div class="rlf-group">                             
                            <button hidefocus="true" id="submit" aria-role="button" class="moco-btn moco-btn-blue marR10">保存</button>                              
                            <a href="javascript:void(0);" hidefocus="true" aria-role="button" class="moco-btn moco-btn-normal js-modal-close">取消</a>                                
                            <p class="rlf-tip-wrap errorHint color-red js-all-errtip"></p>
                        </div>                      
                    </div>                  
                </form>             
            </div>
        </div>
    </div>            
</div>
<div class="moco-modal-blackout js-moco-modal-cancel" style="z-index: 901; opacity: 0.7; width: 1519px; height: 830px; display: none;">
</div>
<script type="text/javascript">
    $(function(){
        $('.js-add-btn').click(function(){
            $('.moco-modal-layer').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-modal-close').click(function(){
            $('.moco-modal-layer').css('visibility','hidden');
            $('.moco-modal-blackout').css('display','none');
        });
        $('input[name="addr_name"]').blur(function(){
            if ($(this).val().length > 10) {
                $(this).siblings('p').text('不能超过限定长度');
            }else if($(this).val() == '' || $(this).val().indexOf(' ') >= 0){
                $(this).siblings('p').text('不能为空');
            }else{
                $(this).siblings('p').text('');
            }
        });
        $('input[name="addr_phone"]').blur(function(){
            var reg = /^1(3|4|5|7|8)\d{9}$/;
            if($(this).val().search(reg) ==  -1){
                $(this).siblings('p').text('手机格式错误');
            }else{
                $(this).siblings('p').text('');
            }
        });
        $('input[name="addr_city"]').blur(function(){
            if ($(this).val() == '' || $(this).val().indexOf(' ') >= 0) {
                $(this).siblings('p').text('不能为空');
            }else{
                $(this).siblings('p').text('');
            }
        });
        $('input[name="addr_address"]').blur(function(){
            if ($(this).val() == '' || $(this).val().indexOf(' ') >= 0) {
                $(this).siblings('p').text('不能为空');
            }else{
                $(this).siblings('p').text('');
            }
        });
        $('input[name="addr_postcode"]').blur(function(){
            if ($(this).val() == '' || $(this).val().indexOf(' ') >= 0) {
                $(this).siblings('p').text('不能为空');
            }else{
                $(this).siblings('p').text('');
            }
        });
        //设置默认地址
        $('.normal-btn').click(function(){
            $.post('{:url("setAddrSelected")}',{addr_id:$(this).attr('data-addrid')},function(){
            },'json');
            $('.normal-icon').empty();
            $(this).parent().siblings('.normal-icon').html("<span class='triangle-topright'></span><i>默认</i>");
        });
        //删除地址
        $('.delete-btn').click(function(){
            $.post("{:url('addrDel')}",{addr_id:$(this).attr('data-addrid')},function(){
            },'json');
            $(this).parent().parent().remove();
        });
    })
</script>
</body>
</html>
{/block}