{extend name="public/base"}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网</title>
<link rel="stylesheet" href="__INDEX_CSS__/base_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_2.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/profile-less.css" type="text/css" />
</head>
<body >
<div id="main">
<div class="settings-cont clearfix">
<div class="setting-left l">
    <div class="avator-wapper">
      <div class="avator-mode">
        <img class="avator-img" src="__WEBSITE__/uploads/{$user['userinfo_headi']}" data-portrait="545862e700016daa02200220" width="92" height="92">
        <div class="update-avator" style="bottom:0px;">
            <p><a href="javascript:void(0);" class="js-avator-link">更换头像</a></p>
        </div>
      </div>
      <div class="des-mode">
        <p>{$user['user_name']}</p>
        
      </div>
    </div>
    <iframe src="about:blank" id="uploadtarget" name="uploadtarget" frameborder="0" style="display:none;"></iframe>
    <div class="list-wapper">
      <h2>账户管理</h2>
      <div class="line"></div>
      <ul class="menu">
        <li><a href="{:url('set/setBind')}" class="on">账号绑定<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setProfile')}" >个人信息<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setSm')}" >实名认证<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setAddr')}" >收货地址<span class="arr"><i class="icon-right2"></i></span></a></li>
      </ul>
    </div>
  </div>
  <div class="setting-right">
    <div class="setting-right-wrap wrap-boxes settings" >
        
<div class="page-settings">
    <div class="common-title">
        账号绑定 
    </div>
    <div class="line"></div>
    <div class="setting">
        <div class="contentBox">
            <div class="bingd">
                
                <div class="itemBox">
                	<div class="left">	
                        <i class="icon-set_email"></i>
                    </div>
                	<div class="center">
                		<p>
                            <span class="font1">邮箱</span> 
                            {if $user['user_email']}
                            <span class="font4">{$user['user_email']}</span>
                            {else /}
                            <span class="font4">未绑定</span>
                            {/if}
                        </p>
                		<p class="font2">可用邮箱加密码登录小白网，可用邮箱找回密码</p>
                	</div>
                	<div class="right">
                        {if $user['user_email']}
                        <span href="javascript:void(0);" class='binding moco-btn moco-btn-normal'>已绑定</span>
                        {else /}
                        <span href="javascript:void(0);" class='binding js-bindemail moco-btn moco-btn-normal'>立即绑定</span>
                        {/if}
                    </div>
                </div>
                <script type="text/javascript">
                    $(function(){
                        // $('.js-bindemail')
                    })
                </script>
                <div class="itemBox">
                    <div class="left">  
                        <i class="icon-set_phone"></i>
                    </div>
                    <div class="center">
                        <p> 
                            <span class="font1">手机</span>
                            {if $user['user_phone']} 
                            <span class="font4" id="jsPhone">{$user['user_phone']}</span>
                            {else /}
                            <span class="font4" id="jsPhone">未绑定</span>
                            {/if}
                        </p>
                        <p class="font2">可用手机号加密码登录小白网，可通过手机号找回密码</p>
                    </div>
                    <div class="right">
                        {if $user['user_phone']}
                        <span href='javascript:void(0);' class='change moco-btn moco-btn-normal' changeType="phone">已绑定</span> 
                        {else /}
                        <span href='javascript:void(0);' class='change js-change-phone moco-btn moco-btn-normal' changeType="phone">立即绑定</span>
                        {/if}
                    </div>
                </div>

                <div class="itemBox">
                	<div class="left">	<i class="icon-set_key"></i></div>
                	<div class="center">
                		<p> <span class="font1">密码</span> 已设置</p>
                		<p class="font2">用于保护账号信息和登录安全</p>
                	</div>
                	<div class="right">
                        <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-changePWD">修改</a>
                    </div>
                </div>

                 <div class="itemBox bb0 h380">
                	<div class="left">	<i class="icon-feedback"></i></div>
                	<div class="center">
                		<p class="font1">社交帐号</p>
                		<p class="font2">绑定第三方帐号，可以直接登录，还可以将内容同步到以下平台，与更多好友分享</p>
                        <div class="accountBox">    
                            <div class="inner-i-box">   
                                                                    <i class="icon-weixin"></i>
                                    <p class="mr87 bind-name">微信</p>
                                    <p class="mr87 red">未绑定</p>
                                    <a href="/passport/user/tplogin?tp=weixin&bind=1" aria-role="button" hidefocus="true" class="moco-btn-normal rlf-btn-green btn js-bind mr87">添加绑定</a>
                                                            </div>
                            <div class="inner-i-box">
                                                                    <i class="icon-weibo"></i>
                                    <p class="mr87 bind-name">微博</p>
                                    <p class="mr87 red">未绑定</p>
                                    <a href="/passport/user/tplogin?tp=weibo&bind=1" aria-role="button" hidefocus="true" class="moco-btn-normal rlf-btn-green btn js-bind mr87">添加绑定</a> 
                                   
                            </div>
                            <div class="inner-i-box"> 
                                                                    <i class="icon-qq color_blue"></i>
                                    <p class="mr87 bind-name">QQ</p>
                                    <p class="mr87 bind-status">已绑定 </p>
                                    <a data-unbind="qq" class="moco-btn-normal rlf-btn-green btn mr87" href="javascript:void(0)" class="mr87">解除绑定</a>
                                 
                             </div>
                        </div>
                	</div>
                	<div class="right">	</div>
                    <div class="cb">    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
    </div>
  </div>
</div>
</div>

<div class="moco-modal-layer fixed phone-show" style="z-index: 917; visibility: hidden; left: 524px; top: 191px; opacity: 1; width: 488px; height: auto;">                    
    <div class="moco-modal-title">
        <div>
            <span>绑定手机</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog" style="display: block;">
            <div class="dialogBox tpl-settingPhone" style="width: 430px;">                        
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label">手机号码：</label>                
                    <div class="moco-control-input">                    
                        <input data-callback="checkPhone" placeholder="请输入您的手机号" class="moco-form-control js-phoneNumber" data-validate="require-mobile-phone" id="">
                        <div class="moco-control-tip errorHint color_red phone-tip"></div>                
                    </div>            
                </div>             
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label">短信验证码：</label>                
                    <div class="moco-control-input w200">                    
                        <p class="js-getCode getCode pa js-timer get-phonecode">获取验证码</p>
                        <input maxlength="4"  class="moco-form-control js-phoneCode" data-validate="require-string" data-minlength="4" id="">                    
                        <div class="moco-control-tip errorHint color_red phonecode-tip" ></div>
                    </div>            
                </div>                                    
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label"></label>                
                    <div class="moco-control-input">                    
                        <button class="moco-btn moco-btn-blue js-submit phone-submit">确定</button>                    
                        <button class="moco-btn moco-btn-normal js-modal-close">取消</button>       
                        <p class="js-gerror g_error"></p>
                    </div>            
                </div>        
            </div>    
        </div>
    </div>            
</div>

<div class="moco-modal-layer fixed email-show" style="z-index: 917; visibility: hidden; left: 524px; top: 191px; opacity: 1; width: 488px; height: auto;">                    
    <div class="moco-modal-title">
        <div>
            <span>绑定邮箱</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog" style="display: block;">
            <div class="dialogBox tpl-settingPhone" style="width: 430px;">                        
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label">邮箱：</label>                
                    <div class="moco-control-input">                    
                        <input  placeholder="请输入您的邮箱" class="moco-form-control js-email" id="">
                        <div class="moco-control-tip errorHint color_red "></div>                
                    </div>            
                </div>             
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label email-tip">邮箱验证码：</label>                
                    <div class="moco-control-input w200">                    
                        <p class="js-getCode getCode pa js-timer">获取验证码</p>                    
                        <input maxlength="4" placeholder="" class="moco-form-control js-emailCode" data-validate="require-string" data-minlength="4" id="">                    
                        <div class="moco-control-tip errorHint color_red emailcode-tip"></div>                
                    </div>            
                </div>                                    
                <div class="moco-form-group">                
                    <label for="inputEmail3" class="moco-control-label"></label>                
                    <div class="moco-control-input">                    
                        <button class="moco-btn moco-btn-blue js-submit">确定</button>                    
                        <button class="moco-btn moco-btn-normal js-modal-close">取消</button>       
                        <p class="js-gerror g_error"></p>
                    </div>            
                </div>        
            </div>    
        </div>
    </div>            
</div>

<div class="moco-modal-layer fixed pwd-show" style="z-index: 905; visibility: hidden; left: 524px; top: 219px; opacity: 1; width: 488px; height: 321px;">                    
    <div class="moco-modal-title">
        <div><span>修改密码</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog" style="display: block;">
            <div class="dialogBox tpl-changePwd" style="width: 430px;">                        
            <div class="moco-form-group">                
                <label for="inputEmail3" class="moco-control-label">输入原始密码：</label>                
                <div class="moco-control-input">                    
                    <input type="password" placeholder="输入密码" class="moco-form-control js-prePwd" data-validate="require-password" id="">                    
                    <div class="moco-control-tip errorHint color_red"></div>                
                </div>            
            </div>            
            <div class="moco-form-group">                
                <label for="inputEmail3" class="moco-control-label">输入新密码：</label>                
                <div class="moco-control-input">                    
                    <input type="password" placeholder="6-16位密码，区分大小写，不能用空格" class="moco-form-control js-pwd" data-validate="require-password" id="">                    
                    <div class="moco-control-tip errorHint color_red"></div>                
                </div>            
            </div>            
            <div class="moco-form-group">                
                <label for="inputEmail3" class="moco-control-label">确认新密码：</label>                
                <div class="moco-control-input">                    
                    <input type="password" placeholder="再次输入密码" class="moco-form-control js-surPwd" data-validate="require-password" id="">                    
                    <div class="moco-control-tip errorHint color_red"></div>                
                </div>            
            </div>            
            <div class="moco-form-group">                
                <label for="inputEmail3" class="moco-control-label"></label>                
                <div class="moco-control-input">                    
                    <a href="javascript:void(0);" class="moco-btn moco-btn-blue js-submit pwd-submit">确定</a>                    
                    <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close">取消</a>                    
                    <p class="js-gerror g_error"></p>                
                </div>            
            </div>                    
            </div>    
        </div>
    </div>            
</div>
<div class="moco-modal-blackout js-moco-modal-cancel" style="z-index: 901; opacity: 0.7; width: 1519px; height: 830px; display: none;">
</div>
<!-- 上传头像 -->
<script type="text/javascript">
    $(function(){

        //修改密码这块
        $('.js-prePwd').blur(function(){
            if ($(this).val() != '') {
                $.get("{:url('checkPrepwd')}",{user_pwd:$(this).val()},function(data){
                    $('.js-prePwd').siblings('div').text(data);
                },'json');
            }else{
                $(this).siblings('div').text('密码错误');
            }
        });
        $('.js-pwd').blur(function(){
            var pwd = $(this).val();
            if (pwd.indexOf(' ')>=0 || pwd.length > 16 || pwd.length < 6 ) {
                $(this).siblings('div').text('密码格式错误');
            }else{
                $(this).siblings('div').text('密码格式正确');
            }
        });
        $('.js-surPwd').blur(function(){
            if ($(this).val() == $('.js-pwd').val()) {
                $(this).siblings('div').text('两次密码一致');
            }else{
                $(this).siblings('div').text('两次密码不一致');
            }
        });
        $('.pwd-submit').click(function(){
            if ($('.js-prePwd').siblings('div').text() == '密码正确' && $('.js-pwd').siblings('div').text() == '密码格式正确' && $('.js-surPwd').siblings('div').text() == '两次密码一致') {
                $.post("{:url('updatePwd')}",{user_pwd:$('.js-pwd').val()},function(){
                },'json');
                window.location.href = "{:url('Login/login')}";
            }
        });
        //更新头像这块
        $('.update-avator').click(function(){
            $('.headi-show').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-bindemail').click(function(){
            $('.email-show').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-change-phone').click(function(){
            $('.phone-show').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-changePWD').click(function(){
            $('.pwd-show').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-modal-close').click(function(){
            $('.moco-modal-layer').css('visibility','hidden');
            $('.moco-modal-blackout').css('display','none');
        });
        $('.js-avator-save').click(function(){
        });
        //绑定手机号码这块
        $('.js-phoneNumber').blur(function(){
            $.get("{:url('Login/checkEmailPhone')}",{email_phone:$(this).val()},function(data){
                $('.phone-tip').text(data);
            },'json');
        });
        $('.get-phonecode').click(function(){
            $.get("{:url('getPhone')}",{phone_number:$('.js-phoneNumber').val()});
        });
        $('.js-phoneCode').blur(function(){
            $.get("{:url('checkPhonecode')}",{phone_code:$(this).val()},function(data){
                $('.phonecode-tip').text(data);
            },'json')
        });
        $('.phone-submit').click(function(){
            if ($('.phone-tip').text() == '手机格式正确' && $('.phonecode-tip').text() == '验证码正确') {
                $.post("{:url('savePhone')}",{user_phone:$('.js-phoneNumber').val()});
                window.location.href = "{:url('setBind')}";
            }
        });
    })

</script>
<script type="text/javascript">
//头像实时预览    
    function preview(file)  
    {  
        var prevDiv = document.getElementById('localImag');  
        if (file.files && file.files[0]){  
            var reader = new FileReader();  
            reader.onload = function(evt){  
                prevDiv.innerHTML = '<img src="' + evt.target.result + '" style="width:200px;height:200px;"/>';  
            }    
            reader.readAsDataURL(file.files[0]);  
        }else{  
            prevDiv.innerHTML = '<div class="img" style="width:100px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
        }  
    }  
 </script> 
<div class="moco-modal-layer fixed headi-show" style="z-index: 917; visibility: hidden; left: 525px; top: 169px; opacity: 1;">                    
    <div class="moco-modal-title">
        <div><span>更换头像</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div></div>                    
        <div class="moco-modal-inner">
            <div class="moco-modal-dialog" style="display: block;">
                <div class="tpl-avator">             
                    <div class="moco-form-group avator-wapper">                 
                        <div class="avator-mode" id="localImag">                       
                            <img class="avator-img" id="pic" src="__WEBSITE__/uploads/{$user['userinfo_headi']}" data-portrait="" width="192" height="192" >

                        </div> 
                                         
                        <div class="clearfix w140" style="position: relative;right:40px;">
                            <form action="{:url('headi')}" method="post" enctype="multipart/form-data" class="pull-right">                            
                                <a herf="javascript:void(0)" class="avator-btn-fake" onclick="document.getElementById('upload').click();return false;">
                                    上传头像
                                 </a>               
                                <input class="hide" type="file" title="上传头像" name="image" id="upload" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="preview(this)">          
                        </div>              
                    </div>              
                    <div class="moco-form-group w140">                  
                        <label for="inputEmail3" class="moco-control-label"></label>                    
                        <div class="moco-control-input">                        
                            <button class="moco-btn moco-btn-blue js-avator-save marR10">确定</button>
                            </form>                     
                            <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close">
                                取消
                            </a>                        
                            <p class="js-gerror g_error"></p>                   
                        </div>              
                    </div>          
                </div>    
            </div>
        </div>            
    </div>
</body>
</html>
{/block}