{extend name="public/base"}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网</title>
<link rel="stylesheet" href="__INDEX_CSS__/base_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_2.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/profile-less.css" type="text/css" />
</head>
<body >
<div id="main">
<div class="settings-cont clearfix">
<div class="setting-left l">
    <div class="avator-wapper">
      <div class="avator-mode">
        <img class="avator-img" src="__WEBSITE__/uploads/{$user['userinfo_headi']}" data-portrait="545862e700016daa02200220" width="92" height="92">
        <div class="update-avator" style="bottom:0px;">
            <p><a href="javascript:void(0);" class="js-avator-link">更换头像</a></p>
        </div>
      </div>
      <div class="des-mode">
        <p>{$user['user_name']}</p>
        
      </div>
    </div>
    <iframe src="about:blank" id="uploadtarget" name="uploadtarget" frameborder="0" style="display:none;"></iframe>
    <div class="list-wapper">
      <h2>账户管理</h2>
      <div class="line"></div>
      <ul class="menu">
        <li><a href="{:url('set/setBind')}" class="on">账号绑定<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setProfile')}" >个人信息<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setSm')}" >实名认证<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setAddr')}" >收货地址<span class="arr"><i class="icon-right2"></i></span></a></li>
      </ul>
    </div>
  </div>
  <div class="setting-right">
    <div class="setting-right-wrap wrap-boxes settings" >
        
<div class="page-settings">
    <div class="common-title">
        账号绑定 <span class="title-tips">完成<b class="color-red">3/4</b></span>
        <a href="/about/faq" class="pull-right" target="_blank"><i class="icon-ques-revert"></i>常见问题</a>
    </div>
    <div class="line"></div>
    <div class="setting">
        <div class="contentBox">
            <div class="bingd">
                
                <div class="itemBox">
                	<div class="left">	
                        <i class="icon-set_email"></i>
                    </div>
                	<div class="center">
                		<p>
                            <span class="font1">邮箱</span> 
                            {if $user['user_email']}
                            <span class="font4">{$user['user_email']}</span>
                            {else /}
                            <span class="font4">未绑定</span>
                            {/if}
                        </p>
                		<p class="font2">可用邮箱加密码登录小白网，可用邮箱找回密码</p>
                	</div>
                	<div class="right">
                        {if $user['user_email']}
                        <span href="javascript:void(0);" class='binding js-bindemail moco-btn moco-btn-normal'>已绑定</span>
                        {else /}
                        <span href="javascript:void(0);" class='binding js-bindemail moco-btn moco-btn-normal'>立即绑定</span>
                        {/if}
                    </div>
                </div>
                
                <div class="itemBox">
                    <div class="left">  
                        <i class="icon-set_phone"></i>
                    </div>
                    <div class="center">
                        <p> 
                            <span class="font1">手机</span>
                            {if $user['user_phone']} 
                            <span class="font4" id="jsPhone">{$user['user_phone']}</span>
                            {else /}
                            <span class="font4" id="jsPhone">未绑定</span>
                            {/if}
                        </p>
                        <p class="font2">可用手机号加密码登录小白网，可通过手机号找回密码</p>
                    </div>
                    <div class="right">
                        {if $user['user_phone']}
                        <span href='javascript:void(0);' class='change js-change-phone moco-btn moco-btn-normal' changeType="phone">已绑定</span> 
                        {else /}
                        <span href='javascript:void(0);' class='change js-change-phone moco-btn moco-btn-normal' changeType="phone">未绑定</span>
                        {/if}
                    </div>
                </div>

                <div class="itemBox">
                	<div class="left">	<i class="icon-set_key"></i></div>
                	<div class="center">
                		<p> <span class="font1">密码</span> 已设置</p>
                		<p class="font2">用于保护账号信息和登录安全</p>
                	</div>
                	<div class="right">
                        <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-changePWD">修改</a>
                    </div>
                </div>

                 <div class="itemBox bb0 h380">
                	<div class="left">	<i class="icon-feedback"></i></div>
                	<div class="center">
                		<p class="font1">社交帐号</p>
                		<p class="font2">绑定第三方帐号，可以直接登录，还可以将内容同步到以下平台，与更多好友分享</p>
                        <div class="accountBox">    
                            <div class="inner-i-box">   
                                                                    <i class="icon-weixin"></i>
                                    <p class="mr87 bind-name">微信</p>
                                    <p class="mr87 red">未绑定</p>
                                    <a href="/passport/user/tplogin?tp=weixin&bind=1" aria-role="button" hidefocus="true" class="moco-btn-normal rlf-btn-green btn js-bind mr87">添加绑定</a>
                                                            </div>
                            <div class="inner-i-box">
                                                                    <i class="icon-weibo"></i>
                                    <p class="mr87 bind-name">微博</p>
                                    <p class="mr87 red">未绑定</p>
                                    <a href="/passport/user/tplogin?tp=weibo&bind=1" aria-role="button" hidefocus="true" class="moco-btn-normal rlf-btn-green btn js-bind mr87">添加绑定</a> 
                                   
                            </div>
                            <div class="inner-i-box"> 
                                                                    <i class="icon-qq color_blue"></i>
                                    <p class="mr87 bind-name">QQ</p>
                                    <p class="mr87 bind-status">已绑定 </p>
                                    <a data-unbind="qq" class="moco-btn-normal rlf-btn-green btn mr87" href="javascript:void(0)" class="mr87">解除绑定</a>
                                 
                             </div>
                        </div>
                	</div>
                	<div class="right">	</div>
                    <div class="cb">    </div>
                </div>
            </div>   
        </div>
    </div>
</div>
    </div>
  </div>
</div>
</div>
<!-- 上传头像 -->
<script type="text/javascript">
    $(function(){
        $('.update-avator').click(function(){
            $('.moco-modal-layer').css('visibility','visible');
        });
        $('.js-modal-close').click(function(){
            $('.moco-modal-layer').css('visibility','hidden');
        });
    })

</script>
<script type="text/javascript">    
    function preview(file)  
    {  
        var prevDiv = document.getElementById('localImag');  
        if (file.files && file.files[0]){  
            var reader = new FileReader();  
            reader.onload = function(evt){  
                prevDiv.innerHTML = '<img src="' + evt.target.result + '" style="width:200px;height:200px;"/>';  
            }    
            reader.readAsDataURL(file.files[0]);  
        }else{  
            prevDiv.innerHTML = '<div class="img" style="width:100px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
        }  
    }  
 </script> 
<div class="moco-modal-layer fixed" style="z-index: 917; visibility: hidden; left: 525px; top: 58.5px; opacity: 1;">                    
    <div class="moco-modal-title">
        <div><span>更换头像</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div></div>                    
        <div class="moco-modal-inner">
            <div class="moco-modal-dialog" style="display: block;">
                <div class="tpl-avator">             
                    <div class="moco-form-group avator-wapper">                 
                        <div class="avator-mode" id="localImag">                       
                            <!-- <img class="avator-img" id="pic" src="" data-portrait="" width="192" height="192" > -->

                        </div> 
                                         
                        <div class="clearfix w140" style="position: relative;right:40px;">
                            <form target="uploadtarget" action="{:url('headi')}" method="post" enctype="multipart/form-data" class="pull-right">                            
                                <a herf="javascript:void(0)" class="avator-btn-fake" onclick="document.getElementById('upload').click();return false;">
                                    上传头像
                                 </a>               
                                <input class="hide" type="file" title="上传头像" name="fileField" id="upload" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="preview(this)">                     
                            </form>                 
                        </div>              
                    </div>              
                    <div class="moco-form-group w140">                  
                        <label for="inputEmail3" class="moco-control-label"></label>                    
                        <div class="moco-control-input">                        
                            <a href="javascript:void(0);" class="moco-btn moco-btn-blue js-avator-save marR10">
                                确定
                            </a>                       
                            <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close">
                                取消
                            </a>                        
                            <p class="js-gerror g_error"></p>                   
                        </div>              
                    </div>          
                </div>    
            </div>
        </div>            
    </div>
</body>
</html>
{/block}