{extend name="public/base"}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>慕课网</title>



<link rel="stylesheet" href="__INDEX_CSS__/base_1.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/common-less_1.css" type="text/css" />



<link rel="stylesheet" href="__INDEX_CSS__/moco.min_1.css" type="text/css" />





 
<!--
<link rel="stylesheet" href="__INDEX_CSS__/login-regist.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/settings.css" type="text/css" />
-->
<link rel="stylesheet" href="__INDEX_CSS__/common-less_2.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/profile-less.css" type="text/css" />


</head>
<body >




<div id="main">

<div class="settings-cont clearfix">
  <div class="setting-left l">
    <div class="avator-wapper">
      <div class="avator-mode">
        <img class="avator-img" src="__WEBSITE__/uploads/{$userinfo['userinfo_headi']}" data-portrait="545862e700016daa02200220" width="92" height="92">
      </div>
      <div class="des-mode">
        <p>{$user['user_name']}</p>
       
      </div>
    </div>
    <iframe src="about:blank" id="uploadtarget" name="uploadtarget" frameborder="0" style="display:none;"></iframe>
    <div class="list-wapper">
      <h2>账户管理</h2>
      <div class="line"></div>
      <ul class="menu">
        <li><a href="{:url('set/setBind')}">账号绑定<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setProfile')}" class="on">个人信息<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setSm')}" >实名认证<span class="arr"><i class="icon-right2"></i></span></a></li>
        <li><a href="{:url('set/setAddr')}" >收货地址<span class="arr"><i class="icon-right2"></i></span></a></li>
      </ul>
    </div>
  </div>
  <div class="setting-right">
    <div class="setting-right-wrap wrap-boxes settings" >
        
 <div class="formBox">
    <div id="setting-profile" class="setting-wrap setting-profile">
        <div class="common-title">
            个人信息
            <a href="javascript:void(0);" class="pull-right js-edit-info"><i class="icon-note"></i>编辑</a>
        </div>
        <div class="line"></div>
        <div class="info-wapper">
            <div class="info-box clearfix">
                <label class="pull-left">昵称</label><div class="pull-left">{$user['user_name']}</div>
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">职位</label>
                {if $userinfo['userinfo_job']}
                <div class="pull-left">{$userinfo['userinfo_job']}</div>
                {else /}
                <div class="pull-left">未设置</div>
                {/if}
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">城市</label>
                {if $userinfo['userinfo_city']}
                <div class="pull-left">{$userinfo['userinfo_city']}</div>
                {else /}
                <div class="pull-left">未设置</div>
                {/if}
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">性别</label>
                {if $userinfo['userinfo_sex'] === 1}
                <div class="pull-left">男</div>
                {elseif $userinfo['userinfo_sex'] === 0 /}
                <div class="pull-left">女</div>
                {else /}
                <div class="pull-left">保密</div>
                {/if}
            </div>
            <div class="info-box clearfix">
                <label class="pull-left">个性签名</label>
                {if $userinfo['userinfo_signature']}
                <div class="pull-left">{$userinfo['userinfo_signature']}</div>
                {else /}
                <div class="pull-left">未设置</div>
                {/if}
            </div>
        </div>
    </div>
</div>

    </div>
  </div>
</div>

</div>




<div class="moco-modal-layer fixed" style="z-index: 905; visibility: hidden; left: 524px; top: 147.5px; opacity: 1;">                    
    <div class="moco-modal-title">
        <div>
            <span>编辑个人信息</span>
            <a href="javascript:void(0)" class="moco-icon-close moco-modal-close js-modal-close"></a>
        </div>
    </div>                    
    <div class="moco-modal-inner">
        <div class="moco-modal-dialog" style="display: block;">
            <div class="edit-info">                    
                <form class="js-wapper-form" id="profile" action="{:url('saveProfile')}" method="post">
                    <div class="moco-form-group">
                        <label for="" class="moco-control-label">昵称：</label>
                        <div class="moco-control-input">
                            <input type="text" name="user_name" id="nick" autocomplete="off" data-validate="require-nick" class="moco-form-control" value="{$user['user_name']}" placeholder="请输入昵称">
                            <div class="rlf-tip-wrap errorHint color-red"></div>
                        </div>
                    </div>
                    <div class="moco-form-group">
                        <label for="" class="moco-control-label">职位：</label>
                        <div class="moco-control-input">
                            <select class="moco-form-control rlf-select" name="userinfo_job" hidefocus="true" id="job" data-validate="require-select">
                                <option value="">请选择职位</option>
                                <option>学生</option>
                                <option>Python工程师</option>
                                <option>页面重构设计</option>
                                <option>Web前端工程师</option>
                                <option>JS工程师</option>
                                <option>PHP开发工程师</option>
                                <option>JAVA开发工程师</option>
                                <option>移动开发工程师</option>
                                <option>软件测试工程师</option>
                                <option>Linux系统工程师</option>
                                <option>交互设计师</option>
                                <option>产品经理</option>
                                <option>数据库工程师</option>
                                <option>UI设计师</option>
                                <option>CG影视动画师</option>
                                <option>全栈工程师</option>
                                <option>数据科学家</option>
                            </select>
                            <div class="rlf-tip-wrap errorHint color-red"></div>
                        </div>
                    </div>
                    <div class="moco-form-group wlfg-wrap">
                        <label for="" class="moco-control-label">所在地区：</label>
                        <div class="moco-control-input profile-address">
                            <input type="text" name="userinfo_city"  autocomplete="off" data-validate="require-nick" class="moco-form-control userinfo_city" value="{$userinfo['userinfo_city']}" placeholder="请输入所在地区">
                            <div class="rlf-tip-wrap errorHint color-red"></div>
                            </div>
                        </div>
                        <div class="moco-form-group wlfg-wrap">
                            <label for="" class="moco-control-label h16 lh16">性别：</label>
                            <div class="moco-control-input rlf-group rlf-radio-group">
                                 <label><input type="radio" hidefocus="true" value="0" name="userinfo_sex">保密</label>
                                <label><input type="radio" hidefocus="true" value="1"  name="userinfo_sex">男</label>
                                <label><input type="radio" hidefocus="true" value="2" name="userinfo_sex">女</label>
                              <div class="rlf-tip-wrap errorHint color-red"></div>
                            </div>
                        </div>
                        <div class="moco-form-group wlfg-wrap">
                            <label for="" class="moco-control-label">个性签名：</label>
                            <div class="moco-control-input">
                                 <div class="pr">
                                    <textarea name="userinfo_signature" id="aboutme" rows="5" class="noresize js-sign moco-form-control"></textarea>
                                    <p class="numCanInput js-numCanInput ">还可以输入128个字符</p>
                                </div>
                            </div>
                        </div>
                    <div class="wlfg-wrap clearfix">                        
                        <label class="moco-control-label" for=""></label>                       
                        <div class="moco-control-input">   
                            <button id="profile-submit" class="moco-btn moco-btn-blue marR10">确定</button>                          
                            <a href="javascript:void(0);" class="moco-btn moco-btn-normal js-modal-close">取消</a>                            
                            <p class="js-gerror g_error"></p>                       
                        </div>                  
                    </div>
                </form>
            </div>
        </div>
    </div>            
</div>
<div class="moco-modal-blackout js-moco-modal-cancel" style="z-index: 901; opacity: 0.7; width: 1519px; height: 830px; display: none;">
</div>
<script type="text/javascript">
    $(function(){
        $('.js-edit-info').click(function(){
            $('.moco-modal-layer').css('visibility','visible');
            $('.moco-modal-blackout').css('display','block');
        });
        $('.js-modal-close').click(function(){
            $('.moco-modal-layer').css('visibility','hidden');
            $('.moco-modal-blackout').css('display','none');
        });
    });
</script>
</body>
</html>
{/block}