{block name="menu"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小白网</title>
    <link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX_CSS__/order.css" type="text/css" />
</head>
<body>
<div id="header">
    <div class="page-container" id="nav"  >
        <div id="logo" class="logo"><a href="index.html" target="_self" class="hide-text" title="首页"></a></div>
        <ul class="nav-item">         
            <li>
                <a href="/course/list" class="active" target="_self">课程</a>
            </li>
        </ul>

        <div id="login-area">
        
        {if $Think.session.user_id}
	        <ul class="clearfix logined">
				<li class="shop-cart" id="shop-cart">
			        <a href="" class="shop-cart-icon" target="_blank">
			            <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
			        </a>
			        <div class="my-cart" id="js-my-cart"></div>
			    </li>
				<li class='remind_warp'>
					<i class="msg_remind"></i>
					<a target="_blank" href=''>
						<i class='imv2-notifications'></i>
					</a>
				</li>
				<li class="set_btn user-card-box"  id="header-user-card">
					<a id="header-avator" class="user-card-item" action-type="my_menu"  href="" target="_self">
						<img src='__WEBSITE__/uploads/{$Think.session.userinfo_headi}' width='40' height='40' />
						<i class="myspace_remind" style="display: none;"></i>
						<span style="display: none;">动态提醒</span>
					</a>
					<!-- 小弹窗 -->
					<div class="g-user-card">
						<div class="card-inner">
							<div class="card-top clearfix">
								<a href='' class='l'>
									<img src="__WEBSITE__/uploads/{$Think.session.userinfo_headi}" alt="{$Think.session.user_name}">
								</a>
								<div class="card-top-right-box l">
									<a href='' class="name text-ellipsis">
										<span>{$Think.session.user_name}</span>
									</a>
									<div class="meta">
										<a href="">经验<b id="js-user-mp">6,129</b></a>
										<a href="">积分<b id="js-user-credit">0</b></a>            
									</div>
								</div>
							</div>
							<div class="user-center-box">
			                    <ul class="clearfix">
			                        <li class="l"><a href="" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
			                        <li class="l">
			                        	<a href="" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
			                        	<i id="js-usercard-coupon-icon"></i>
			                        </li>
			                        <li class="l"><a href="" target="_blank"><span class="user-center-icon imv2-score_shop"></span>积分商城</a></li>
			                        <li class="l"><a href="{:url('set/setBind')}" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
			                    </ul>
			                </div>
							
							<div class="card-history">
							</div>
							
							<div class="card-sets clearfix">
								<a href="" class="l">安全退出</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
            {else /}
            <ul class="header-unlogin clearfix">
                <li class="shop-cart" id="shop-cart">
                    <a href="" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>             
                <li class="header-signin">
                    <a  id="js-signin-btn" href="{:url('Login/login')}">登录</a> / <a  id="js-signup-btn" href="{:url('Login/register')}">注册</a>
                </li>             
            </ul>
            {/if}
        </div>
        <!-- 搜索框 -->
        <div class='search-warp clearfix' style='min-width: 32px; height: 72px;'>
            <div class="search-area" data-search="top-banner">
                <input class="search-input" data-suggest-trigger="suggest-trigger"      type="text" autocomplete="off">
                <input type='hidden' class='btn_search' data-search-btn="search-btn" />
                <ul class="search-area-result" data-suggest-result="suggest-result">
                </ul>
            </div>
            <div class='showhide-search' data-show='no'><i class='icon-search'></i></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__INDEX_JS__/jquery.min.js"></script>
<script type="text/javascript">
   $(function(){
    $('.user-card-box').mouseover(function(){
        $(this).addClass('hover');
    });
    $('.user-card-box').mouseout(function(){
        $(this).removeClass('hover');
    });
   }) 
</script>






 


</body>
</html>

{/block}
{block name="left"}{/block}
{block name="content"}{/block}
{block name="main"}{/block}
{block name="right"}{/block}
{block name="footer"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的订单_慕课网</title>
    <link rel="stylesheet" href="__INDEX_CSS__/order.css" type="text/css" />
</head>

<body>

<div id="footer">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;"  target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/3306361973"  target="_blank" title="新浪微博"></a>
                <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="http://www.imooc.com/" target="_blank">网站首页</a></li>
                        <li><a href="http://www.imooc.com/about/cooperate" target="_blank" title="企业合作">企业合作</a></li>
                        <li><a href="http://www.imooc.com/about/job" target="_blank">人才招聘</a></li>
                        <li> <a href="http://www.imooc.com/about/contact" target="_blank">联系我们</a></li>
                        <li> <a href="http://www.imooc.com/about/recruit" target="_blank">讲师招募</a></li>
                         <li> <a href="http://class.imooc.com/user/faq" target="_blank">常见问题</a></li>
                        <li> <a href="http://class.imooc.com/user/feedback" target="_blank">意见反馈</a></li>
                        <li><a href="http://daxue.imooc.com/" target="_blank">慕课大学</a></li>
                        <li> <a href="http://www.imooc.com/about/friendly" target="_blank">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{/block}




