<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{block name="title"}{$courseInfo.course_title}{/block}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit" />
<meta name="Keywords" content="" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.comment.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.note.css" type="text/css" />
</head>
<body >
<div id="header">
    <div class="page-container" id="nav"  >
        <div id="logo" class="logo"><a href="index.html" target="_self" class="hide-text" title="首页"></a></div>
        <ul class="nav-item">         
            <li>
                <a href="/course/list" class="active" target="_self">课程</a>
            </li>
        </ul>

        <div id="login-area">
        
        {if $Think.session.user_id}
	        <ul class="clearfix logined">
				<li class="shop-cart" id="shop-cart">
			        <a href="" class="shop-cart-icon" target="_blank">
			            <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
			        </a>
			        <div class="my-cart" id="js-my-cart"></div>
			    </li>
				<li class='remind_warp'>
					<i class="msg_remind"></i>
					<a target="_blank" href=''>
						<i class='imv2-notifications'></i>
					</a>
				</li>
				<li class="set_btn user-card-box"  id="header-user-card">
					<a id="header-avator" class="user-card-item" action-type="my_menu"  href="" target="_self">
						<img src='__INDEX_IMG__/573dc35200014e4101000100-40-40.jpg' width='40' height='40' />
						<i class="myspace_remind" style="display: none;"></i>
						<span style="display: none;">动态提醒</span>
					</a>
					<!-- 小弹窗 -->
					<div class="g-user-card">
						<div class="card-inner">
							<div class="card-top clearfix">
								<a href='' class='l'>
									<img src="" alt="qq_缄默_83386918">
								</a>
								<div class="card-top-right-box l">
									<a href='' class="name text-ellipsis">
										<span>qq_缄默_83386918</span>
									</a>
									<div class="meta">
										<a href="">经验<b id="js-user-mp">6,129</b></a>
										<a href="">积分<b id="js-user-credit">0</b></a>            
									</div>
								</div>
							</div>
							<div class="user-center-box">
			                    <ul class="clearfix">
			                        <li class="l"><a href="" target="_blank"><span class="user-center-icon imv2-kecheng"></span>我的课程</a></li>
			                        <li class="l">
			                        	<a href="" target="_blank"><span class="user-center-icon imv2-receipt"></span>订单中心</a>
			                        	<i id="js-usercard-coupon-icon"></i>
			                        </li>
			                        <li class="l"><a href="" target="_blank"><span class="user-center-icon imv2-score_shop"></span>积分商城</a></li>
			                        <li class="l"><a href="{:url('set/setBind')}" target="_blank"><span class="user-center-icon imv2-set_1"></span>个人设置</a></li>
			                    </ul>
			                </div>
							
							<div class="card-history">
							</div>
							
							<div class="card-sets clearfix">
								<a href="" class="l">安全退出</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
            {else /}
            <ul class="header-unlogin clearfix">
                <li class="shop-cart" id="shop-cart">
                    <a href="" class="shop-cart-icon" target="_blank">
                        <span class="icon-shopping-cart imv2-cart  js-endcart"></span><span>购物车</span><span class="shopping_icon js-cart-num" data-ordernum="0"  data-cartnum="0" style='display: none'>0</span>
                    </a>
                    <div class="my-cart" id="js-my-cart"></div>
                </li>             
                <li class="header-signin">
                    <a  id="js-signin-btn" href="{:url('Login/login')}">登录</a> / <a  id="js-signup-btn" href="{:url('Login/register')}">注册</a>
                </li>             
            </ul>
            {/if}
        </div>
        <!-- 搜索框 -->
        <div class='search-warp clearfix' style='min-width: 32px; height: 72px;'>
            <div class="search-area" data-search="top-banner">
                <input class="search-input" data-suggest-trigger="suggest-trigger"      type="text" autocomplete="off">
                <input type='hidden' class='btn_search' data-search-btn="search-btn" />
                <ul class="search-area-result" data-suggest-result="suggest-result">
                </ul>
            </div>
            <div class='showhide-search' data-show='no'><i class='icon-search'></i></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__INDEX_JS__/jquery.min.js"></script>
<script type="text/javascript">
   $(function(){
    $('.user-card-box').mouseover(function(){
        $(this).addClass('hover');
    });
    $('.user-card-box').mouseout(function(){
        $(this).removeClass('hover');
    });
   }) 
</script>


<div id="main">
	<div class="course-infos">
	    <div class="w pr">
	    	<!--导航栏-->
	        <div class="path">  
	            <a href="/course/list">课程</a>
	            <i class="path-split">\</i>
	            <a href="/course/list?c=be">后端开发</a>
	            <i class="path-split">\</i>
	            <a href="/course/list?c=php">PHP</a>
	            <i class="path-split">\</i>
	            <a href="/learn/898"><span>PHP中的会话控制</span></a>
	        </div>
	        <!--导航栏 end-->
	        <div class="hd clearfix">
	            <h2 class="l">{$courseInfo.course_title}</h2>
	        </div>
	        <!--信息栏-->
	        <div class="statics clearfix">
	            <div class="moco-btn l learn-btn green-btn red-btn"> 
	                <a href="{:url('courseVideo',['course_id'=>$courseInfo.course_id])}" class="J-learn-course">开始学习</a>
	                <em></em>
	                <i class="follow-action js-follow-action"></i>
	            </div>
	            <div class="static-item l">
	                <span class="meta">学习人数</span>
	                <span class="meta-value js-learn-num">{$courseInfo.courseCount.course_sales}</span>
	            </div>
	            <div class="static-item l">
	                <span class="meta">难度级别</span>
	                <span class="meta-value">{$courseInfo.course_grade}</span>
	                <em></em>
	            </div>
	            <div class="static-item l">
	                <span class="meta">课程时长</span>
	                <span class="meta-value">{$courseInfo.course_duration}小时</span>
	                <em></em>
	            </div>
	            <div class="static-item l score-btn">
	                <span class="meta">综合评分</span>
	                <span class="meta-value">{$courseInfo.course_start*2}</span>
	                <em></em>              
	                <div class="score-wrap icon-drop_up triangle">
	                    <div class="score-box">
	                        <a href="/coursescore/898" class="person-num">
	                            <span class="person-num l">0人评价</span>
	                        </a>
	                        <a href="/coursescore/898?page=1" class="evaluation-btn r">查看评价</a>
	                        <div class="score-detail-box">
	                            <div class="score-static-item">
	                                <span class="meta-value">10.0</span>
	                                <span class="meta">内容实用</span>
	                            </div>
	                            <div class="score-static-item">
	                                <span class="meta-value">10.0</span>
	                                <span class="meta">简洁易懂</span>
	                                <em></em>
	                            </div>
	                            <div class="score-static-item">
	                                <span class="meta-value">10.0</span>
	                                <span class="meta">逻辑清晰</span>
	                                <em></em>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            
	        </div>
	        <!--信息栏 end-->
	        <div class="extra">	            
	            <!-- share -->
	            <div class="share-action r bdsharebuttonbox">
	                <a href="javascript:;" class="share wx js-share icon-share-weichat" data-cmd="weixin"></a>


	                <a href="{:url('OauthController/qqAction')}" class="share qq js-share icon-share-qq" data-cmd="qzone"></a>
	                <a href="javascript:;" class="share sina js-share icon-share-weibo" data-cmd="tsina"></a>
	            </div>
	            <!-- share end-->
	        </div>
	    </div>    
	</div>

	<div class="course-info-main clearfix w">
	    <div class="content-wrap">
	    	
	        <!--content-->
	        <div class="content">
	            <!-- 课程简介 -->
	            <div class="course-brief">
	                <p class="auto-wrap">{$courseInfo.course_describe}</p>
	            </div>
	            {block name="content"}
	            <!-- 课程简介 end -->
	            <div class="mod-tab-menu ">
		        	<ul class="course-menu clearfix">
		        		<li><a class="ui-tabs-active active" id="learnOn"  href="/learn/898"><span>章节</span></a></li>
		        		<li><a id="commentOn" class="" href="/comment/898"><span>评论</span></a></li>
		        		<li><a id="qaOn" class="" href="/qa/898/t/1?page=1"><span>问答</span></a></li>
		        		<li><a id="noteOn" class="" href="/note/898?sort=last&page=1"><span>笔记</span></a></li>
		        	</ul>
	            </div>
	            {/block}
	            <!-- 课程章节 end -->
	        </div>
	        <!--content end-->
	        
	        <!--右侧block-->
	        <div class="aside r">
	            <div class="bd">
	                <!-- 讲师须知 -->
	                <div class="box mb40 js-usercard-box">
	                <h4>讲师提示</h4>
	                    <div class="teacher-info">
	                    <a href="/u/112353/courses?sort=publish" target="_blank" >
	                        <img data-userid="112353" class="js-usercard-dialog" src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" width="80" height="80">
	                    </a>
	                    <span class="tit">
	                        <a href="/u/112353/courses?sort=publish" target="_blank">{$courseInfo.course_teacher}</a><i class="icon-imooc"></i>
	                    </span>
	                    <span class="job">PHP开发工程师</span>
	                    </div>
	                    <div class="course-info-tip">
	                        <dl class="first">
	                            <dt>课程须知</dt>
	                            <dd class="autowrap">{$courseInfo.course_keywords}</dd>
	                        </dl>
	                    </div>
	                </div>
	                <div class="js-recom-box"></div>
	             </div>        
	        </div>
	        <!--右侧block end-->
	    </div>
	    <div class="clear"></div>
	</div>
</div>



<div id="footer">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;"  target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/3306361973"  target="_blank" title="新浪微博"></a>
                <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
            </div>
            
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="http://www.imooc.com/" target="_blank">网站首页</a></li>
                        <li><a href="http://www.imooc.com/about/cooperate" target="_blank" title="企业合作">企业合作</a></li>
                        <li><a href="http://www.imooc.com/about/job" target="_blank">人才招聘</a></li>
                        <li> <a href="http://www.imooc.com/about/contact" target="_blank">联系我们</a></li>
                        <li> <a href="http://www.imooc.com/about/recruit" target="_blank">讲师招募</a></li>
                         <li> <a href="http://class.imooc.com/user/faq" target="_blank">常见问题</a></li>
                        <li> <a href="http://class.imooc.com/user/feedback" target="_blank">意见反馈</a></li>
                        <li><a href="http://daxue.imooc.com/" target="_blank">慕课大学</a></li>
                        <li> <a href="http://www.imooc.com/about/friendly" target="_blank">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>

        </div>
    </div>
</div>


<div id="J_GotoTop" class="elevator">
    <a href="/user/feedback" class="elevator-msg" target="_blank">
        <i class="imv2-feedback"></i>
        <span class="">意见反馈</span>
    </a>
    <a href="http://www.imooc.com/about/faq" class="elevator-faq" target="_blank">
        <i class="imv2-help_outline"></i>
        <span class="">常见问题</span>
    </a>
    <a href="http://www.imooc.com/mobile/app" target="_blank" class="elevator-app" >
        <i class="imv2-appdownload"></i>
        <span class="">APP下载</span>
        <div class="elevator-app-box"></div>
    </a>
    <a href="javascript:void(0)" class="elevator-weixin no-goto" id="js-elevator-weixin" >
        <i class="imv2-weixigzh"></i>
        <span class="">官方微信</span>
        <div class="elevator-weixin-box"></div>
    </a>
    <a href="javascript:void(0)" class="elevator-top no-goto" style="display:none" id="backTop">
        <i class="imv2-arrow2_u"></i>
        <span class="">返回顶部</span>
    </a>
</div>




<div class="mask"></div>
</body>
</html>
<!--script-->
<script type="text/javascript" src="__INDEX_JS__/error.js"></script>
{block name="js"}{/block}
