{extend name="public/base"}
{block name="left"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{block name="title"}{$courseInfo.course_title}{/block}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit" />
<meta name="Keywords" content="" />
<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/course.css" type="text/css" />
</head>
<body >
<div id="main">
	<div class="course-infos">
	    <div class="w pr">
	    	<!--导航栏-->
	        <div class="path">  
	            <a href="/course/list">课程</a>
	            <i class="path-split">\</i>
	            <a href="/course/list?c=be">后端开发</a>
	            <i class="path-split">\</i>
	            <a href="/course/list?c=php">PHP</a>
	            <i class="path-split">\</i>
	            <a href="/learn/898"><span>PHP中的会话控制</span></a>
	        </div>
	        <!--导航栏 end-->
	        <div class="hd clearfix">
	            <h2 class="l">{$courseInfo.course_title}</h2>
	        </div>
	        <!--信息栏-->
	        <div class="statics clearfix">
	        	{if $courseInfo.course_rate == '0' || in_array($courseInfo.course_id,$myorder)}
	            <div class="moco-btn l learn-btn green-btn red-btn"> 
	                <a href="{:url('courseVideo',['course_id'=>$courseInfo.course_id])}" class="J-learn-course js-user-course" data-userid="{$Think.session.user_id}" data-courseid="{$courseInfo.course_id}">开始学习</a>
	                <em></em>
	                <i class="follow-action js-follow-action icon-star_outline" data-cid="908" data-cmd="follow" title="收藏"></i>
	            </div>
	            {else /}
	            <div class="moco-btn l learn-btn green-btn red-btn"> 
	                <a class="J-learn-course purchase" data-userid="{$Think.session.user_id}" href="{:url('Order/orderSur',['course_ids'=>$courseInfo.course_id])}">立即购买</a>
	                {if $shopcar == ''}
	                <em></em>
	                <i class="follow-action js-follow-action imv2-cart" data-cid="{$courseInfo.course_id}" data-cmd="follow" data-userid="{$Think.session.user_id}" title="加入购物车" ></i>
	                {/if}
	            </div>
	            {/if}
<script type="text/javascript">
	$(function(){
		$('.purchase').click(function(){
			if ($(this).attr('data-userid') == '') {
				window.location.href = "{:url('Login/login')}";
			}else{

			}
		});
		$('.imv2-cart').click(function(){
			if ($(this).attr('data-userid') == '') {
				window.location.href = "{:url('Login/login')}";
			}else{
				$.post("{:url('Order/addCart')}",{course_id:$(this).attr('data-cid')},function(){
				},'json');
				$('.imv2-cart').remove();
				$('.imv2-cart').siblings('em').remove();
			}
		});
		$('.js-user-course').click(function(){
			$.post("{:url('Course/addUserCourse')}",{user_id:$(this).attr('data-userid'),course_id:$(this).attr('data-courseid')});
		});
	})
</script>
	            <div class="static-item l">
	                <span class="meta">学习人数</span>
	                <span class="meta-value js-learn-num">{$courseInfo.courseCount.course_sales}</span>
	            </div>
	            <div class="static-item l">
	                <span class="meta">难度级别</span>
	                <span class="meta-value">{$courseInfo.course_grade}</span>
	                <em></em>
	            </div>
	            <div class="static-item l">
	                <span class="meta">课程时长</span>
	                <span class="meta-value">{$courseInfo.course_duration}小时</span>
	                <em></em>
	            </div>
	            <div class="static-item l score-btn">
	                <span class="meta">综合评分</span>
	                <span class="meta-value">{$courseInfo.course_start*2}</span>
	                <em></em>              
	                
	            </div>
	            
	        </div>
	        <!--信息栏 end-->
	        <div class="extra">	            
	            <!-- share -->
	            <div class="share-action r bdsharebuttonbox">
	                <a href="javascript:;" class="share wx js-share icon-share-weichat" data-cmd="weixin"></a>

	                <a href="{:url('OauthController/qqAction')}" class="share qq js-share icon-share-qq" data-cmd="qzone"></a>
	                <a href="javascript:;" class="share sina js-share icon-share-weibo" data-cmd="tsina"></a>
	            </div>
	            <!-- share end-->
	        </div>
	    </div>    
	</div>

	<div class="course-info-main clearfix w">
	    <div class="content-wrap">
	    	
	        <!--content-->
	        <div class="content">
	            <!-- 课程简介 -->
	            <div class="course-brief">
	                <p class="auto-wrap">{$courseInfo.course_describe}</p>
	            </div>
	            {/block}
	            {block name="content"}
	            <!-- 课程简介 end -->
	           
	            {/block}
	            <!-- 课程章节 end -->
	            {block name="right"}
	        </div>
	        <!--content end-->
	        
	        <!--右侧block-->
	        <div class="aside r">
	            <div class="bd">
	                <!-- 讲师须知 -->
	                <div class="box mb40 js-usercard-box">
	                <h4>讲师提示</h4>
	                    <div class="teacher-info">
	                    <a href="/u/112353/courses?sort=publish" target="_blank" >
	                        <img data-userid="112353" class="js-usercard-dialog" src="__INDEX_IMG__/567ca60000011fae26501720-80-80.jpg" width="80" height="80">
	                    </a>
	                    <span class="tit">
	                        <a href="/u/112353/courses?sort=publish" target="_blank">{$courseInfo.course_teacher}</a><i class="icon-imooc"></i>
	                    </span>
	                    <span class="job">PHP开发工程师</span>
	                    </div>
	                    <div class="course-info-tip">
	                        <dl class="first">
	                            <dt>课程须知</dt>
	                            <dd class="autowrap">{$courseInfo.course_keywords}</dd>
	                        </dl>
	                    </div>
	                </div>
	                <div class="js-recom-box"></div>
	             </div>        
	        </div>
	        <!--右侧block end-->
	    </div>
	    <div class="clear"></div>
	</div>
</div>


{/block}
