{extend name="public/base"}
{block name="main"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="__INDEX_CSS__/moco.min.css" type="text/css" />
<link rel="stylesheet" href="__INDEX_CSS__/layer.css" />
<link rel="stylesheet" href="__INDEX_CSS__/personcourse.css" type="text/css" />
</head>
<body >
<div id="main">
    <div class="bg-other user-head-info">
        <div class="user-info">
            <h3 class="user-name clearfix">
                <span>{$Think.session.user_name}</span>
            </h3>
            <p class="about-info">
                {if $userinfo['userinfo_sex'] === 1}
                <span class=' gender ' title=' 男 '></span>
                {elseif $userinfo['userinfo_sex'] === 0}
                <span class=' gender girl' title=' 女 '></span>
                {/if}
                <span class="u-info-learn">
                    学习课程 <em>{$learnCount}</em>
                </span>
                <span class='u-info-credit'>
                    积分<em>{$userinfo['userinfo_score']}</em>
                </span>
            </p>
            <p class="user-desc">{$userinfo['userinfo_signature']}</p>
            
        </div><!-- .user-info end -->
    </div><!-- .big-pic end -->
<div class="wrap">
    <div class="slider">
        <div class="user-pic" data-is-fans="" data-is-follows="">
            <div class="user-pic-bg"></div><!--user-pic-big end-->
            <img class='img' src="__WEBSITE__/uploads/{$userinfo['userinfo_headi']}" alt=""/>
        </div>
        <ul>  
                
        <li>
            <a href="/u/3386918/courses" class="active">
            <i class="icon-tick"></i><span>课程</span><b class="icon-drop_right"></b>
            </a>
        </li>             
        <li>
            <a href="/u/3386918/plans" >
            <i class="imv2-path"></i><span>收藏</span><b class="icon-drop_right"></b>
            </a>
         </li>                             
        <li>
            <a href="/u/3386918/bbs" >
                <i class="icon-yuanwen"></i><span>评论</span><b class="icon-drop_right"></b>
            </a>
        </li>           
        <li>
            <a href="/u/3386918/articles" >
            <i class="icon-blog"></i><span>笔记</span><b class="icon-drop_right"></b>
            </a>
        </li>             
        
        </ul>
    </div><!-- .slider end -->    


    <div class="u-container">
        <div class="c-tab clearfix">
	        <div class="tool-left l">
                <a class="sort-item active">最近学习</a>   
            </div>
            <div class="tool-right r">
    	        <div class="tool-all">
                    <span id="js-columall" class="tool-item">
                        <span>全部课程</span>
        	       </span>
                </div>
            </div>
        </div>

	   <div class="js-course-list my-space-course study-tl">
        {foreach $userCourse as $value}
			<div class="clearfix tl-item  tl-item-first">
			    <span class="time">
                    <b>{$a = substr($value.update_time,0,4)}</b>
                    <em>{$a = substr($value.update_time,5,6)}</em>
                </span>
                <div class="course-list course-list-m">
                    <ul class="clearfix">
                	    <li class="course-one" data-courseid="898" data-uid="3386918">
                            <div class="course-list-img l">
    	                        <a href="{:url('Course/courseComment',['course_id'=>$value.course_id])}" target="_blank">
    	                            <img width="200" height="113" alt="{$value.course_title}" src="{$value.course_pic}" />
    	                        </a>
                            </div>
                            <div class="course-list-cont">
                        	    <h3 class="study-hd">
	                                <a href="{:url('Course/courseComment',['course_id'=>$value.course_id])}" target="_blank">{$value.course_title}</a>
		                        </h3>
	                        	<div class="study-points">
							    </div>
								<div class="catog-points">
								    <span class="i-left span-common"><a href="/u/3386918/course/898/notes">点赞 <i>33</i></a></span>
								    <span class="i-mid span-common"><a href="/u/3386918/course/898/codes">评论 <i>12</i></a></span>
								    <span class="i-right span-common"><a href="/u/3386918/course/898/questions">笔记 <i>31</i></a></span>
							    </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {/foreach}
        </div>
	<!-- 分页 -->
	<div class="qa-comment-page">
					<div class="page"><span class="disabled_page">首页</span><span class="disabled_page">上一页</span><a href="javascript:void(0)" class="active text-page-tag">1</a><a class="text-page-tag" href="/u/3386918/courses?page=2">2</a><a class="text-page-tag" href="/u/3386918/courses?page=3">3</a><a class="text-page-tag" href="/u/3386918/courses?page=4">4</a><a class="text-page-tag" href="/u/3386918/courses?page=5">5</a><a href="/u/3386918/courses?page=2">下一页</a><a href="/u/3386918/courses?page=5">尾页</a></div>
			</div>

	
</div><!-- .container end -->
</div><!-- .wrap end-->

</div>




<!--script-->
<script type="text/javascript" src="__INDEX_JS__/error.js"></script>
<script src="__INDEX_JS__/ssologin.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea.js"></script>
<script type="text/javascript" src="__INDEX_JS__/sea_config.js"></script>
<script type="text/javascript">seajs.use("/static/page/"+OP_CONFIG.module+"/"+OP_CONFIG.page);</script>




<style type="text/css">.myClassList table td dl dd { margin-top:88px } #face_panel { z-index:99999999 }</style>

<div id="layer_sendmsg" class="font-colorg" style="display:none">

</div>




<div style="display: none">
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f0cfcccd7b1393990c78efdeebff3968";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
(function (d) {
window.bd_cpro_rtid="rHT4P1c";
var s = d.createElement("script");s.type = "text/javascript";s.async = true;s.src = location.protocol + "//cpro.baidu.com/cpro/ui/rt.js";
var s0 = d.getElementsByTagName("script")[0];s0.parentNode.insertBefore(s, s0);
})(document);
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</div>
</body>
</html>
{/block}